## Procedimiento para seleccionar todas las cargas de 2024
## Unión de Todas las Tablas en 2024

In [2]:
# Import Packages
import pandas as pd
import numpy as np
import seaborn as sns
import os 
import openpyxl

In [3]:
ruta = os.path.join('archivos_mineria_funciones_cargo_2024/carga_2024.xlsx')
df = pd.read_excel(ruta)
display(df.head(10))

,Unnamed: 0,Autoridad Portuaria,Enero_2023 t Graneles Líquidos,Enero_2024 t Graneles Líquidos,Enero_2023 t Graneles Sólidos,Enero_2024 t Graneles Sólidos,Enero_2023 t Mercancía General,Enero_2024 t Mercancía General,Enero_2023 t Mercancía General Contenedores,Enero_2024 t Mercancía General Contenedores,...,Abril_2023 Pasajeros En Régimen De Transporte Y De Crucero,Abril_2024 Pasajeros En Régimen De Transporte Y De Crucero,Abril_2023 Pasajeros En Régimen De Transporte,Abril_2024 Pasajeros En Régimen De Transporte,Abril_2023 Pasajeros De Crucero,Abril_2024 Pasajeros De Crucero,Abril_2023 Automóviles En Régimen De Pasaje,Abril_2024 Automóviles En Régimen De Pasaje,Abril_2023 Automóviles En Régimen De Mercancía,Abril_2024 Automóviles En Régimen De Mercancía
0,0,A Coruña,676655,719906,521447,406133,40997,29789,66,0,...,27030,47166,0,0,27030,47166,0,0,0,0
1,1,Alicante,5453,9007,191759,109123,96205,86149,89346,77281,...,23635,40447,11055,8181,12580,32266,3120,3197,117,228
2,2,Almería,4538,18511,299084,256126,74717,109347,11672,15607,...,26333,28669,25678,27573,655,1096,8721,8555,174,1142
3,3,Avilés,55417,61421,271758,234074,86295,84260,0,0,...,0,0,0,0,0,0,0,0,0,0
4,4,Bahía de Algeciras,2380167,2793935,31659,42904,5747425,5498543,4544515,4436836,...,327554,346545,327554,346545,0,0,65612,74171,312,385
5,5,Bahía de Cádiz,163563,18934,137032,206223,166825,173076,115728,119797,...,65643,64693,1690,2601,63953,62092,1044,1643,1389,9836
6,6,Baleares,71491,102646,43279,22156,884058,982074,21952,21043,...,722105,665225,586589,515411,135516,149814,111964,102757,10089,13369
7,7,Barcelona,989889,766073,413626,324206,3571017,3843295,2789637,3011767,...,400530,395390,133110,117819,267420,277571,33502,30677,69834,61709
8,8,Bilbao,1503473,2134486,334672,280264,595059,569573,407988,400193,...,18704,31118,11409,11962,7295,19156,4966,5773,14822,27137
9,9,Cartagena,2345886,2137657,870622,878956,70850,57119,38339,39115,...,17919,21955,0,0,17919,21955,0,0,24,4

In [4]:
autor = df['Autoridad Portuaria']

In [5]:
autoridad_porturaria = []
for i in range(4):
    for puerto in autor:
        autoridad_porturaria.append(puerto)
len(autoridad_porturaria)

112

In [6]:
autoridad_porturaria

['A Coruña',
 'Alicante',
 'Almería',
 'Avilés',
 'Bahía de Algeciras',
 'Bahía de Cádiz',
 'Baleares',
 'Barcelona',
 'Bilbao',
 'Cartagena',
 'Castellón',
 'Ceuta',
 'Ferrol-San Cibrao',
 'Gijón',
 'Huelva',
 'Las Palmas',
 'Málaga',
 'Marín y Ría de Pontevedra',
 'Melilla',
 'Motril',
 'Pasaia',
 'Santa Cruz de Tenerife',
 'Santander',
 'Sevilla',
 'Tarragona',
 'Valencia',
 'Vigo',
 'Vilagarcía',
 'A Coruña',
 'Alicante',
 'Almería',
 'Avilés',
 'Bahía de Algeciras',
 'Bahía de Cádiz',
 'Baleares',
 'Barcelona',
 'Bilbao',
 'Cartagena',
 'Castellón',
 'Ceuta',
 'Ferrol-San Cibrao',
 'Gijón',
 'Huelva',
 'Las Palmas',
 'Málaga',
 'Marín y Ría de Pontevedra',
 'Melilla',
 'Motril',
 'Pasaia',
 'Santa Cruz de Tenerife',
 'Santander',
 'Sevilla',
 'Tarragona',
 'Valencia',
 'Vigo',
 'Vilagarcía',
 'A Coruña',
 'Alicante',
 'Almería',
 'Avilés',
 'Bahía de Algeciras',
 'Bahía de Cádiz',
 'Baleares',
 'Barcelona',
 'Bilbao',
 'Cartagena',
 'Castellón',
 'Ceuta',
 'Ferrol-San Cibrao',
 'Gijón',
 'Huelva',
 'Las Palmas',
 'Málaga',
 'Marín y Ría de Pontevedra',
 'Melilla',
 'Motril',
 'Pasaia',
 'Santa Cruz de Tenerife',
 'Santander',
 'Sevilla',
 'Tarragona',
 'Valencia',
 'Vigo',
 'Vilagarcía',
 'A Coruña',
 'Alicante',
 'Almería',
 'Avilés',
 'Bahía de Algeciras',
 'Bahía de Cádiz',
 'Baleares',
 'Barcelona',
 'Bilbao',
 'Cartagena',
 'Castellón',
 'Ceuta',
 'Ferrol-San Cibrao',
 'Gijón',
 'Huelva',
 'Las Palmas',
 'Málaga',
 'Marín y Ría de Pontevedra',
 'Melilla',
 'Motril',
 'Pasaia',
 'Santa Cruz de Tenerife',
 'Santander',
 'Sevilla',
 'Tarragona',
 'Valencia',
 'Vigo',
 'Vilagarcía']

In [7]:
Meses = ['Enero_2024', 'Febrero_2024', 'Marzo_2024', 'Abril_2024']

In [8]:
Mes = []
for i in Meses:
    for j in range(28):
        Mes.append(i)
len(Mes)

112

In [9]:

columns = ['Meses']

df_listo = pd.DataFrame(Mes, columns=columns)
df_listo.shape

(112, 1)

In [10]:
df_listo['Autoridad_Portuaria'] = autoridad_porturaria

In [11]:
df_listo

          Meses Autoridad_Portuaria
0    Enero_2024            A Coruña
1    Enero_2024            Alicante
2    Enero_2024             Almería
3    Enero_2024              Avilés
4    Enero_2024  Bahía de Algeciras
..          ...                 ...
107  Abril_2024             Sevilla
108  Abril_2024           Tarragona
109  Abril_2024            Valencia
110  Abril_2024                Vigo
111  Abril_2024          Vilagarcía

[112 rows x 2 columns]

## Graneles Líquidos

In [12]:
Graneles_liquidos = df['Enero_2024 t Graneles Líquidos']

In [13]:
Graneles_liquidos_Febrero = df['Febrero_2024 t Graneles Líquidos']
Graneles_liquidos_Marzo = df['Marzo_2024 t Graneles Líquidos']
Graneles_liquidos_Abril = df['Abril_2024 t Graneles Líquidos']

In [14]:
Graneles_liquidos = Graneles_liquidos.tolist()
Graneles_liquidos_Febrero = Graneles_liquidos_Febrero.tolist()
Graneles_liquidos_Marzo = Graneles_liquidos_Marzo.tolist()
Graneles_liquidos_Abril = Graneles_liquidos_Abril.tolist()

In [15]:
for i in Graneles_liquidos_Febrero:
    Graneles_liquidos.append(i)
len(Graneles_liquidos)

for i in Graneles_liquidos_Marzo:
    Graneles_liquidos.append(i)
len(Graneles_liquidos)

for i in Graneles_liquidos_Abril:
    Graneles_liquidos.append(i)
len(Graneles_liquidos)

112

In [16]:
df_listo['Graneles Líquidos t'] = Graneles_liquidos

In [17]:
df_listo

          Meses Autoridad_Portuaria  Graneles Líquidos t
0    Enero_2024            A Coruña               719906
1    Enero_2024            Alicante                 9007
2    Enero_2024             Almería                18511
3    Enero_2024              Avilés                61421
4    Enero_2024  Bahía de Algeciras              2793935
..          ...                 ...                  ...
107  Abril_2024             Sevilla                62737
108  Abril_2024           Tarragona              1747029
109  Abril_2024            Valencia               298325
110  Abril_2024                Vigo                 3000
111  Abril_2024          Vilagarcía                48921

[112 rows x 3 columns]

## Graneles Sólidos

In [18]:
Graneles_solidos = df['Enero_2024 t Graneles Sólidos']

In [19]:
Graneles_solidos_Febrero = df['Febrero_2024 t Graneles Sólidos']
Graneles_solidos_Marzo = df['Marzo_2024 t Graneles Sólidos']
Graneles_solidos_Abril = df['Abril_2024 t Graneles Sólidos']

In [20]:
Graneles_solidos = Graneles_solidos.tolist()
Graneles_solidos_Febrero = Graneles_solidos_Febrero.tolist()
Graneles_solidos_Marzo = Graneles_solidos_Marzo.tolist()
Graneles_solidos_Abril = Graneles_solidos_Abril.tolist()

In [21]:
for i in Graneles_solidos_Febrero:
    Graneles_solidos.append(i)
len(Graneles_solidos)

for i in Graneles_solidos_Marzo:
    Graneles_solidos.append(i)
len(Graneles_solidos)

for i in Graneles_solidos_Abril:
    Graneles_solidos.append(i)
len(Graneles_solidos)

112

In [22]:
df_listo['Graneles Sólidos t'] = Graneles_solidos

In [23]:
df_listo.head()

        Meses Autoridad_Portuaria  Graneles Líquidos t  Graneles Sólidos t
0  Enero_2024            A Coruña               719906              406133
1  Enero_2024            Alicante                 9007              109123
2  Enero_2024             Almería                18511              256126
3  Enero_2024              Avilés                61421              234074
4  Enero_2024  Bahía de Algeciras              2793935               42904

## Mercancía General

In [24]:
Mercancia_general = df['Enero_2024 t Mercancía General']

In [25]:
Mercancia_general_Febrero = df['Febrero_2024 t Mercancía General']
Mercancia_general_Marzo = df['Marzo_2024 t Mercancía General']
Mercancia_general_Abril = df['Abril_2024 t Mercancía General']

In [26]:
Mercancia_general = Mercancia_general.tolist()
Mercancia_general_Febrero = Mercancia_general_Febrero.tolist()
Mercancia_general_Marzo = Mercancia_general_Marzo.tolist()
Mercancia_general_Abril = Mercancia_general_Abril.tolist()

In [27]:
for i in Mercancia_general_Febrero:
    Mercancia_general.append(i)
len(Mercancia_general)

for i in Mercancia_general_Marzo:
    Mercancia_general.append(i)
len(Mercancia_general)

for i in Mercancia_general_Abril:
    Mercancia_general.append(i)
len(Mercancia_general)

112

In [28]:
df_listo['Mercancía General t'] = Mercancia_general

## Mercancía General Contenedores

In [29]:
Mercancia_general_contenedores = df['Enero_2024 t Mercancía General Contenedores']

In [30]:
Mercancia_general_contenedores_Febrero = df['Febrero_2024 t Mercancía General Contenedores']
Mercancia_general_contenedores_Marzo = df['Marzo_2024 t Mercancía General Contenedores']
Mercancia_general_contenedores_Abril = df['Abril_2024 t Mercancía General Contenedores']

In [31]:
Mercancia_general_contenedores = Mercancia_general_contenedores.tolist()
Mercancia_general_contenedores_Febrero = Mercancia_general_contenedores_Febrero.tolist()
Mercancia_general_contenedores_Marzo = Mercancia_general_contenedores_Marzo.tolist()
Mercancia_general_contenedores_Abril = Mercancia_general_contenedores_Abril.tolist()

In [32]:
for i in Mercancia_general_contenedores_Febrero:
    Mercancia_general_contenedores.append(i)
len(Mercancia_general_contenedores)

for i in Mercancia_general_contenedores_Marzo:
    Mercancia_general_contenedores.append(i)
len(Mercancia_general_contenedores)

for i in Mercancia_general_contenedores_Abril:
    Mercancia_general_contenedores.append(i)
len(Mercancia_general_contenedores)

112

In [33]:
df_listo['Mercancia General Contenedores t'] = Mercancia_general_contenedores

## Pesca

In [34]:
Pesca = df['Enero_2024 t Pesca']

In [35]:
Pesca_Febrero = df['Febrero_2024 t Pesca']
Pesca_Marzo = df['Marzo_2024 t Pesca']
Pesca_Abril = df['Abril_2024 t Pesca']

In [36]:
Pesca = Pesca.tolist()
Pesca_Febrero = Pesca_Febrero.tolist()
Pesca_Marzo = Pesca_Marzo.tolist()
Pesca_Abril = Pesca_Abril.tolist()

In [37]:
for i in Pesca_Febrero:
    Pesca.append(i)
len(Pesca)

for i in Pesca_Marzo:
    Pesca.append(i)
len(Pesca)

for i in Pesca_Abril:
    Pesca.append(i)
len(Pesca)

112

In [38]:
pd.options.display.max_columns = None
pd.options.display.max_rows = None

In [39]:
df_listo['Pesca t'] = Pesca

In [40]:
df_listo.head()

,Meses,Autoridad_Portuaria,Graneles Líquidos t,Graneles Sólidos t,Mercancía General t,Mercancia General Contenedores t,Pesca t
0,Enero_2024,A Coruña,719906,406133,29789,0,1148.912
1,Enero_2024,Alicante,9007,109123,86149,77281,0.000
2,Enero_2024,Almería,18511,256126,109347,15607,228.505
3,Enero_2024,Avilés,61421,234074,84260,0,446.146
4,Enero_2024,Bahía de Algeciras,2793935,42904,5498543,4436836,87.537

## Avituallamiento

In [41]:
Avituallamiento = df['Enero_2024 t Avituallamiento']

In [42]:
Avituallamiento_Febrero = df['Febrero_2024 t Avituallamiento']
Avituallamiento_Marzo = df['Marzo_2024 t Avituallamiento']
Avituallamiento_Abril = df['Abril_2024 t Avituallamiento']

In [43]:
Avituallamiento = Avituallamiento.tolist()
Avituallamiento_Febrero = Avituallamiento_Febrero.tolist()
Avituallamiento_Marzo = Avituallamiento_Marzo.tolist()
Avituallamiento_Abril = Avituallamiento_Abril.tolist()

In [44]:
for i in Avituallamiento_Febrero:
    Avituallamiento.append(i)
len(Avituallamiento)

for i in Avituallamiento_Marzo:
    Avituallamiento.append(i)
len(Avituallamiento)

for i in Avituallamiento_Abril:
    Avituallamiento.append(i)
len(Avituallamiento)

112

In [45]:
df_listo['Avituallamiento t'] = Avituallamiento

## Avituallamiento De Combustibles Líquidos

In [46]:
Avituallamiento_de_comb_liquidos = df['Enero_2024 t Avituallamiento De Combustibles Líquidos']

In [47]:
Avituallamiento_De_Combustibles_Líquidos_Febrero = df['Febrero_2024 t Avituallamiento De Combustibles Líquidos']
Avituallamiento_De_Combustibles_Líquidos_Marzo = df['Marzo_2024 t Avituallamiento De Combustibles Líquidos']
Avituallamiento_De_Combustibles_Líquidos_Abril = df['Abril_2024 t Avituallamiento De Combustibles Líquidos']

In [48]:
Avituallamiento_De_Combustibles_Líquidos = Avituallamiento_de_comb_liquidos.tolist()
Avituallamiento_De_Combustibles_Líquidos_Febrero = Avituallamiento_De_Combustibles_Líquidos_Febrero.tolist()
Avituallamiento_De_Combustibles_Líquidos_Marzo = Avituallamiento_De_Combustibles_Líquidos_Marzo.tolist()
Avituallamiento_De_Combustibles_Líquidos_Abril = Avituallamiento_De_Combustibles_Líquidos_Abril.tolist()

In [49]:
for i in Avituallamiento_De_Combustibles_Líquidos_Febrero:
    Avituallamiento_De_Combustibles_Líquidos.append(i)
len(Avituallamiento_De_Combustibles_Líquidos)

for i in Avituallamiento_De_Combustibles_Líquidos_Marzo:
    Avituallamiento_De_Combustibles_Líquidos.append(i)
len(Avituallamiento_De_Combustibles_Líquidos)

for i in Avituallamiento_De_Combustibles_Líquidos_Abril:
    Avituallamiento_De_Combustibles_Líquidos.append(i)
len(Avituallamiento_De_Combustibles_Líquidos)

112

In [50]:
df_listo['Avituallamiento De Combustibles Líquidos t'] = Avituallamiento_De_Combustibles_Líquidos

## Tráfico Interior

In [51]:
Trafico_interior = df['Enero_2024 t Tráfico Interior']

In [52]:
Trafico_interior_Febrero = df['Febrero_2024 t Tráfico Interior']
Trafico_interior_Marzo = df['Marzo_2024 t Tráfico Interior']
Trafico_interior_Abril = df['Abril_2024 t Tráfico Interior']

In [53]:
Trafico_interior = Trafico_interior.tolist()

In [54]:

Trafico_interior_Febrero = Trafico_interior_Febrero.tolist()
Trafico_interior_Marzo = Trafico_interior_Marzo.tolist()
Trafico_interior_Abril = Trafico_interior_Abril.tolist()

In [55]:
for i in Trafico_interior_Febrero:
    Trafico_interior.append(i)
len(Trafico_interior)

for i in Trafico_interior_Marzo:
    Trafico_interior.append(i)
len(Trafico_interior)

for i in Trafico_interior_Abril:
    Trafico_interior.append(i)
len(Trafico_interior)

112

In [56]:
df_listo['Tráfico Interior t'] = Trafico_interior

## Mercancías En Tránsito

In [57]:
Mercancias_en_transito = df['Enero_2024 t Mercancías En Tránsito']

In [58]:
Mercancias_en_transito_Febrero = df['Febrero_2024 t Mercancías En Tránsito']
Mercancias_en_transito_Marzo = df['Marzo_2024 t Mercancías En Tránsito']
Mercancias_en_transito_Abril = df['Abril_2024 t Mercancías En Tránsito']

In [59]:
Mercancias_en_transito = Mercancias_en_transito.tolist()
Mercancias_en_transito_Febrero = Mercancias_en_transito_Febrero.tolist()
Mercancias_en_transito_Marzo = Mercancias_en_transito_Marzo.tolist()
Mercancias_en_transito_Abril = Mercancias_en_transito_Abril.tolist()

In [60]:
for i in Mercancias_en_transito_Febrero:
    Mercancias_en_transito.append(i)
len(Mercancias_en_transito)

for i in Mercancias_en_transito_Marzo:
    Mercancias_en_transito.append(i)
len(Mercancias_en_transito)

for i in Mercancias_en_transito_Abril:
    Mercancias_en_transito.append(i)
len(Mercancias_en_transito)

112

In [61]:
df_listo['Mercancías En Tránsito t'] = Mercancias_en_transito

## Mercancías En Tránsito En Contenedores

In [62]:
Mercancias_en_transito_contenedores = df['Enero_2024 t Mercancías En Tránsito En Contenedores']

In [63]:
Mercancias_en_transito_contenedores_Febrero = df['Febrero_2024 t Mercancías En Tránsito En Contenedores']
Mercancias_en_transito_contenedores_Marzo = df['Marzo_2024 t Mercancías En Tránsito En Contenedores']
Mercancias_en_transito_contenedores_Abril = df['Abril_2024 t Mercancías En Tránsito En Contenedores']

In [64]:
Mercancias_en_transito_contenedores = Mercancias_en_transito_contenedores.tolist()
Mercancias_en_transito_contenedores_Febrero = Mercancias_en_transito_contenedores_Febrero.tolist()
Mercancias_en_transito_contenedores_Marzo = Mercancias_en_transito_contenedores_Marzo.tolist()
Mercancias_en_transito_contenedores_Abril = Mercancias_en_transito_contenedores_Abril.tolist()

In [65]:
for i in Mercancias_en_transito_contenedores_Febrero:
    Mercancias_en_transito_contenedores.append(i)
len(Mercancias_en_transito_contenedores)

for i in Mercancias_en_transito_contenedores_Marzo:
    Mercancias_en_transito_contenedores.append(i)
len(Mercancias_en_transito_contenedores)

for i in Mercancias_en_transito_contenedores_Abril:
    Mercancias_en_transito_contenedores.append(i)
len(Mercancias_en_transito_contenedores)

112

In [66]:
df_listo['Mercancías En Tránsito En Contenedores t'] = Mercancias_en_transito_contenedores

In [67]:
df_listo.head()

,Meses,Autoridad_Portuaria,Graneles Líquidos t,Graneles Sólidos t,Mercancía General t,Mercancia General Contenedores t,Pesca t,Avituallamiento t,Avituallamiento De Combustibles Líquidos t,Tráfico Interior t,Mercancías En Tránsito t,Mercancías En Tránsito En Contenedores t
0,Enero_2024,A Coruña,719906,406133,29789,0,1148.912,2903,2245,0,41024,0
1,Enero_2024,Alicante,9007,109123,86149,77281,0.000,881,55,0,297,297
2,Enero_2024,Almería,18511,256126,109347,15607,228.505,6088,2622,0,0,0
3,Enero_2024,Avilés,61421,234074,84260,0,446.146,2950,1050,0,0,0
4,Enero_2024,Bahía de Algeciras,2793935,42904,5498543,4436836,87.537,347997,330817,325168,5388705,3990822

## Tráfico Ro-Ro

In [68]:
Trafico_ro_ro = df['Enero_2024 t Tráfico Ro-Ro']

In [69]:
Trafico_ro_ro_Febrero = df['Febrero_2024 t Tráfico Ro-Ro']
Trafico_ro_ro_Marzo = df['Marzo_2024 t Tráfico Ro-Ro']
Trafico_ro_ro_Abril = df['Abril_2024 t Tráfico Ro-Ro']

In [70]:
Trafico_ro_ro = Trafico_ro_ro.tolist()
Trafico_ro_ro_Febrero = Trafico_ro_ro_Febrero.tolist()
Trafico_ro_ro_Marzo = Trafico_ro_ro_Marzo.tolist()
Trafico_ro_ro_Abril = Trafico_ro_ro_Abril.tolist()

In [71]:
for i in Trafico_ro_ro_Febrero:
    Trafico_ro_ro.append(i)
len(Trafico_ro_ro)

for i in Trafico_ro_ro_Marzo:
    Trafico_ro_ro.append(i)
len(Trafico_ro_ro)

for i in Trafico_ro_ro_Abril:
    Trafico_ro_ro.append(i)
len(Trafico_ro_ro)

112

In [72]:
df_listo['Tráfico Ro-Ro t'] = Trafico_ro_ro

## UTIS Ro-Ro

In [73]:
UTIS_ro_ro = df['Enero_2023 UTIS Ro-Ro']

In [74]:
UTIS_ro_ro_Febrero = df['Febrero_2024 UTIS Ro-Ro']
UTIS_ro_ro_Marzo = df['Marzo_2024 UTIS Ro-Ro']
UTIS_ro_ro_Abril = df['Abril_2024 UTIS Ro-Ro']

In [75]:
UTIS_ro_ro = UTIS_ro_ro.tolist()
UTIS_ro_ro_Febrero = UTIS_ro_ro_Febrero.tolist()
UTIS_ro_ro_Marzo = UTIS_ro_ro_Marzo.tolist()
UTIS_ro_ro_Abril = UTIS_ro_ro_Abril.tolist()

In [76]:
for i in UTIS_ro_ro_Febrero:
    UTIS_ro_ro.append(i)
len(UTIS_ro_ro)

for i in UTIS_ro_ro_Marzo:
    UTIS_ro_ro.append(i)
len(UTIS_ro_ro)

for i in UTIS_ro_ro_Abril:
    UTIS_ro_ro.append(i)
len(UTIS_ro_ro)

112

In [77]:
df_listo['UTIS Ro-Ro'] = UTIS_ro_ro

## TEUS Contenedores

In [78]:
TEUS_contenedores = df['Enero_2024 TEUS Contenedores']

In [79]:
TEUS_contenedores_Febrero = df['Febrero_2024 TEUS Contenedores']
TEUS_contenedores_Marzo = df['Marzo_2024 TEUS Contenedores']
TEUS_contenedores_Abril = df['Abril_2024 TEUS Contenedores']

In [80]:
TEUS_contenedores = TEUS_contenedores.tolist()
TEUS_contenedores_Febrero = TEUS_contenedores_Febrero.tolist()
TEUS_contenedores_Marzo = TEUS_contenedores_Marzo.tolist()
TEUS_contenedores_Abril = TEUS_contenedores_Abril.tolist()

In [81]:
for i in TEUS_contenedores_Febrero:
    TEUS_contenedores.append(i)
len(TEUS_contenedores)

for i in TEUS_contenedores_Marzo:
    TEUS_contenedores.append(i)
len(TEUS_contenedores)

for i in TEUS_contenedores_Abril:
    TEUS_contenedores.append(i)
len(TEUS_contenedores)

112

In [82]:
df_listo['TEUS Contenedores'] = TEUS_contenedores

In [83]:
df_listo.tail()

,Meses,Autoridad_Portuaria,Graneles Líquidos t,Graneles Sólidos t,Mercancía General t,Mercancia General Contenedores t,Pesca t,Avituallamiento t,Avituallamiento De Combustibles Líquidos t,Tráfico Interior t,Mercancías En Tránsito t,Mercancías En Tránsito En Contenedores t,Tráfico Ro-Ro t,UTIS Ro-Ro,TEUS Contenedores
107,Abril_2024,Sevilla,62737,159187,153247,90326,0.000,4105,1338,0,0,0,13927,768,12104.50
108,Abril_2024,Tarragona,1747029,531797,167157,11144,237.686,10794,4720,0,65798,0,25348,0,1039.00
109,Abril_2024,Valencia,298325,171680,6471158,5005110,161.132,39503,33826,0,2901186,2844404,1244068,45653,463499.00
110,Abril_2024,Vigo,3000,27501,446454,262676,2754.865,5371,0,0,51997,43395,127983,1998,28621.00
111,Abril_2024,Vilagarcía,48921,41318,62787,27852,0.000,657,223,0,1259,1259,0,0,3366.25

## TEUS Contenedores En Tránsito

In [84]:
TEUS_contenedores_en_transito = df['Enero_2024 TEUS Contenedores En Tránsito']

In [85]:
TEUS_contenedores_en_transito_Febrero = df['Febrero_2024 TEUS Contenedores En Tránsito']
TEUS_contenedores_en_transito_Marzo = df['Marzo_2024 TEUS Contenedores En Tránsito']
TEUS_contenedores_en_transito_Abril = df['Abril_2024 TEUS Contenedores En Tránsito']

In [86]:
TEUS_contenedores_en_transito = TEUS_contenedores_en_transito.tolist()
TEUS_contenedores_en_transito_Febrero = TEUS_contenedores_en_transito_Febrero.tolist()
TEUS_contenedores_en_transito_Marzo = TEUS_contenedores_en_transito_Marzo.tolist()
TEUS_contenedores_en_transito_Abril = TEUS_contenedores_en_transito_Abril.tolist()

In [87]:
for i in TEUS_contenedores_en_transito_Febrero:
    TEUS_contenedores_en_transito.append(i)
len(TEUS_contenedores_en_transito)

for i in TEUS_contenedores_en_transito_Marzo:
    TEUS_contenedores_en_transito.append(i)
len(TEUS_contenedores_en_transito)

for i in TEUS_contenedores_en_transito_Abril:
    TEUS_contenedores_en_transito.append(i)
len(TEUS_contenedores_en_transito)

112

In [88]:
df_listo['TEUS Contenedores En Tránsito'] = TEUS_contenedores_en_transito

## TEUS Contenedores Entrada-Salida Nacional

In [89]:
TEUS_contenedores_entrada_salida_nacional = df['Enero_2024 TEUS Contenedores Entrada-Salida Nacional']

In [90]:
TEUS_contenedores_entrada_salida_nacional_Febrero = df['Febrero_2024 TEUS Contenedores Entrada-Salida Nacional']
TEUS_contenedores_entrada_salida_nacional_Marzo = df['Marzo_2024 TEUS Contenedores Entrada-Salida Nacional']
TEUS_contenedores_entrada_salida_nacional_Abril = df['Abril_2024 TEUS Contenedores Entrada-Salida Nacional']

In [91]:
TEUS_contenedores_entrada_salida_nacional = TEUS_contenedores_entrada_salida_nacional.tolist()
TEUS_contenedores_entrada_salida_nacional_Febrero = TEUS_contenedores_entrada_salida_nacional_Febrero.tolist()
TEUS_contenedores_entrada_salida_nacional_Marzo = TEUS_contenedores_entrada_salida_nacional_Marzo.tolist()
TEUS_contenedores_entrada_salida_nacional_Abril = TEUS_contenedores_entrada_salida_nacional_Abril.tolist()

In [92]:
for i in TEUS_contenedores_entrada_salida_nacional_Febrero:
    TEUS_contenedores_entrada_salida_nacional.append(i)
len(TEUS_contenedores_entrada_salida_nacional)

for i in TEUS_contenedores_entrada_salida_nacional_Marzo:
    TEUS_contenedores_entrada_salida_nacional.append(i)
len(TEUS_contenedores_entrada_salida_nacional)

for i in TEUS_contenedores_entrada_salida_nacional_Abril:
    TEUS_contenedores_entrada_salida_nacional.append(i)
len(TEUS_contenedores_entrada_salida_nacional)

112

In [93]:
df_listo['TEUS Contenedores Entrada-Salida Nacional'] = TEUS_contenedores_entrada_salida_nacional

## TEUS Contenedores Entrada-Salida Exterior

In [94]:
TEUS_contenedores_entrada_salida_exterior = df['Enero_2024 TEUS Contenedores Entrada-Salida Exterior']

In [95]:
TEUS_contenedores_entrada_salida_exterior_Febrero = df['Febrero_2024 TEUS Contenedores Entrada-Salida Exterior']
TEUS_contenedores_entrada_salida_exterior_Marzo = df['Marzo_2024 TEUS Contenedores Entrada-Salida Exterior']
TEUS_contenedores_entrada_salida_exterior_Abril = df['Abril_2024 TEUS Contenedores Entrada-Salida Exterior']

In [96]:
TEUS_contenedores_entrada_salida_exterior = TEUS_contenedores_entrada_salida_exterior.tolist()
TEUS_contenedores_entrada_salida_exterior_Febrero = TEUS_contenedores_entrada_salida_exterior_Febrero.tolist()
TEUS_contenedores_entrada_salida_exterior_Marzo = TEUS_contenedores_entrada_salida_exterior_Marzo.tolist()
TEUS_contenedores_entrada_salida_exterior_Abril = TEUS_contenedores_entrada_salida_exterior_Abril.tolist()

In [97]:
for i in TEUS_contenedores_entrada_salida_exterior_Febrero:
    TEUS_contenedores_entrada_salida_exterior.append(i)
len(TEUS_contenedores_entrada_salida_exterior)

for i in TEUS_contenedores_entrada_salida_exterior_Marzo:
    TEUS_contenedores_entrada_salida_exterior.append(i)
len(TEUS_contenedores_entrada_salida_exterior)

for i in TEUS_contenedores_entrada_salida_exterior_Abril:
    TEUS_contenedores_entrada_salida_exterior.append(i)
len(TEUS_contenedores_entrada_salida_exterior)

112

In [98]:
df_listo['TEUS Contenedores Entrada-Salida Exterior'] = TEUS_contenedores_entrada_salida_exterior

## Unidades Buques Mercantes

In [99]:
Unidades_buques_mercantes = df['Enero_2024 Unidades Buques Mercantes']

In [100]:
Unidades_buques_mercantes_Febrero = df['Febrero_2024 Unidades Buques Mercantes']
Unidades_buques_mercantes_Marzo = df['Marzo_2024 Unidades Buques Mercantes']
Unidades_buques_mercantes_Abril = df['Abril_2024 Unidades Buques Mercantes']

In [101]:
Unidades_buques_mercantes = Unidades_buques_mercantes.tolist()
Unidades_buques_mercantes_Febrero = Unidades_buques_mercantes_Febrero.tolist()
Unidades_buques_mercantes_Marzo = Unidades_buques_mercantes_Marzo.tolist()
Unidades_buques_mercantes_Abril = Unidades_buques_mercantes_Abril.tolist()

In [102]:
for i in Unidades_buques_mercantes_Febrero:
    Unidades_buques_mercantes.append(i)
len(Unidades_buques_mercantes)

for i in Unidades_buques_mercantes_Marzo:
    Unidades_buques_mercantes.append(i)
len(Unidades_buques_mercantes)

for i in Unidades_buques_mercantes_Abril:
    Unidades_buques_mercantes.append(i)
len(Unidades_buques_mercantes)

112

In [103]:
df_listo['Unidades Buques Mercantes'] = Unidades_buques_mercantes

## G.T. Buques Mercantes

In [104]:
G_T_buques_mercantes = df['Enero_2024 G.T. Buques Mercantes']

In [105]:
G_T_buques_mercantes_Febrero = df['Febrero_2024 G.T. Buques Mercantes']
G_T_buques_mercantes_Marzo = df['Marzo_2024 G.T. Buques Mercantes']
G_T_buques_mercantes_Abril = df['Abril_2024 G.T. Buques Mercantes']

In [106]:
G_T_buques_mercantes = G_T_buques_mercantes.tolist()
G_T_buques_mercantes_Febrero = G_T_buques_mercantes_Febrero.tolist()
G_T_buques_mercantes_Marzo = G_T_buques_mercantes_Marzo.tolist()
G_T_buques_mercantes_Abril = G_T_buques_mercantes_Abril.tolist()

In [107]:
for i in G_T_buques_mercantes_Febrero:
    G_T_buques_mercantes.append(i)
len(G_T_buques_mercantes)

for i in G_T_buques_mercantes_Marzo:
    G_T_buques_mercantes.append(i)
len(G_T_buques_mercantes)

for i in G_T_buques_mercantes_Abril:
    G_T_buques_mercantes.append(i)
len(G_T_buques_mercantes)

112

In [108]:
df_listo['G.T. Buques Mercantes'] = G_T_buques_mercantes

## Unidades Buques De Crucero

In [109]:
Unidades_buques_crucero = df['Enero_2023 Unidades Buques De Crucero']

In [110]:
Unidades_buques_crucero_Febrero = df['Febrero_2024 Unidades Buques De Crucero']
Unidades_buques_crucero_Marzo = df['Marzo_2024 Unidades Buques De Crucero']
Unidades_buques_crucero_Abril = df['Abril_2024 Unidades Buques De Crucero']

In [111]:
Unidades_buques_crucero = Unidades_buques_crucero.tolist()
Unidades_buques_crucero_Febrero = Unidades_buques_crucero_Febrero.tolist()
Unidades_buques_crucero_Marzo = Unidades_buques_crucero_Marzo.tolist()
Unidades_buques_crucero_Abril = Unidades_buques_crucero_Abril.tolist()

In [112]:
for i in Unidades_buques_crucero_Febrero:
    Unidades_buques_crucero.append(i)
len(Unidades_buques_crucero)

for i in Unidades_buques_crucero_Marzo:
    Unidades_buques_crucero.append(i)
len(Unidades_buques_crucero)

for i in Unidades_buques_crucero_Abril:
    Unidades_buques_crucero.append(i)
len(Unidades_buques_crucero)

112

In [113]:
df_listo['Unidades Buques De Crucero'] = Unidades_buques_crucero

## Pasajeros En Régimen De Transporte Y De Crucero

In [114]:
Pasajeros_regimen_transporte_crucero = df['Enero_2024 Pasajeros En Régimen De Transporte Y De Crucero']

In [115]:
Pasajeros_regimen_transporte_crucero_Febrero = df['Febrero_2024 Pasajeros En Régimen De Transporte Y De Crucero']
Pasajeros_regimen_transporte_crucero_Marzo = df['Marzo_2024 Pasajeros En Régimen De Transporte Y De Crucero']
Pasajeros_regimen_transporte_crucero_Abril = df['Abril_2024 Pasajeros En Régimen De Transporte Y De Crucero']

In [116]:
Pasajeros_regimen_transporte_crucero = Pasajeros_regimen_transporte_crucero.tolist()
Pasajeros_regimen_transporte_crucero_Febrero = Pasajeros_regimen_transporte_crucero_Febrero.tolist()
Pasajeros_regimen_transporte_crucero_Marzo = Pasajeros_regimen_transporte_crucero_Marzo.tolist()
Pasajeros_regimen_transporte_crucero_Abril = Pasajeros_regimen_transporte_crucero_Abril.tolist()

In [117]:
for i in Pasajeros_regimen_transporte_crucero_Febrero:
    Pasajeros_regimen_transporte_crucero.append(i)
len(Pasajeros_regimen_transporte_crucero)

for i in Pasajeros_regimen_transporte_crucero_Marzo:
    Pasajeros_regimen_transporte_crucero.append(i)
len(Pasajeros_regimen_transporte_crucero)

for i in Pasajeros_regimen_transporte_crucero_Abril:
    Pasajeros_regimen_transporte_crucero.append(i)
len(Pasajeros_regimen_transporte_crucero)

112

In [118]:
df_listo['Pasajeros En Régimen De Transporte Y De Crucero'] = Pasajeros_regimen_transporte_crucero

## Pasajeros En Régimen De Transporte

In [119]:
Pasajeros_regimen_transporte = df['Enero_2024 Pasajeros En Régimen De Transporte']

In [120]:
Pasajeros_regimen_transporte_Febrero = df['Febrero_2024 Pasajeros En Régimen De Transporte']
Pasajeros_regimen_transporte_Marzo = df['Marzo_2024 Pasajeros En Régimen De Transporte']
Pasajeros_regimen_transporte_Abril = df['Abril_2024 Pasajeros En Régimen De Transporte']

In [121]:
Pasajeros_regimen_transporte = Pasajeros_regimen_transporte.tolist()
Pasajeros_regimen_transporte_Febrero = Pasajeros_regimen_transporte_Febrero.tolist()
Pasajeros_regimen_transporte_Marzo = Pasajeros_regimen_transporte_Marzo.tolist()
Pasajeros_regimen_transporte_Abril = Pasajeros_regimen_transporte_Abril.tolist()

In [122]:
for i in Pasajeros_regimen_transporte_Febrero:
    Pasajeros_regimen_transporte.append(i)
len(Pasajeros_regimen_transporte)

for i in Pasajeros_regimen_transporte_Marzo:
    Pasajeros_regimen_transporte.append(i)
len(Pasajeros_regimen_transporte)

for i in Pasajeros_regimen_transporte_Abril:
    Pasajeros_regimen_transporte.append(i)
len(Pasajeros_regimen_transporte)

112

In [123]:
df_listo['Pasajeros En Régimen De Transporte'] = Pasajeros_regimen_transporte

## Pasajeros De Crucero

In [124]:
Pasajeros_crucero = df['Enero_2024 Pasajeros De Crucero']

In [125]:
Pasajeros_crucero_Febrero = df['Febrero_2024 Pasajeros De Crucero']
Pasajeros_crucero_Marzo = df['Marzo_2024 Pasajeros De Crucero']
Pasajeros_crucero_Abril = df['Abril_2024 Pasajeros De Crucero']

In [126]:
Pasajeros_crucero = Pasajeros_crucero.tolist()
Pasajeros_crucero_Febrero = Pasajeros_crucero_Febrero.tolist()
Pasajeros_crucero_Marzo = Pasajeros_crucero_Marzo.tolist()
Pasajeros_crucero_Abril = Pasajeros_crucero_Abril.tolist()

In [127]:
for i in Pasajeros_crucero_Febrero:
    Pasajeros_crucero.append(i)
len(Pasajeros_crucero)

for i in Pasajeros_crucero_Marzo:
    Pasajeros_crucero.append(i)
len(Pasajeros_crucero)

for i in Pasajeros_crucero_Abril:
    Pasajeros_crucero.append(i)
len(Pasajeros_crucero)

112

In [128]:
df_listo['Pasajeros De Crucero'] = Pasajeros_crucero

## Automóviles En Régimen De Pasaje

In [129]:
automoviles_regimen_pasaje = df['Enero_2024 Automóviles En Régimen De Pasaje']

In [130]:
automoviles_regimen_pasaje_Febrero = df['Febrero_2024 Automóviles En Régimen De Pasaje']
automoviles_regimen_pasaje_Marzo = df['Marzo_2024 Automóviles En Régimen De Pasaje']
automoviles_regimen_pasaje_Abril = df['Abril_2024 Automóviles En Régimen De Pasaje']

In [131]:
automoviles_regimen_pasaje = automoviles_regimen_pasaje.tolist()
automoviles_regimen_pasaje_Febrero = automoviles_regimen_pasaje_Febrero.tolist()
automoviles_regimen_pasaje_Marzo = automoviles_regimen_pasaje_Marzo.tolist()
automoviles_regimen_pasaje_Abril = automoviles_regimen_pasaje_Abril.tolist()

In [132]:
for i in automoviles_regimen_pasaje_Febrero:
    automoviles_regimen_pasaje.append(i)
len(automoviles_regimen_pasaje)

for i in automoviles_regimen_pasaje_Marzo:
    automoviles_regimen_pasaje.append(i)
len(automoviles_regimen_pasaje)

for i in automoviles_regimen_pasaje_Abril:
    automoviles_regimen_pasaje.append(i)
len(automoviles_regimen_pasaje)

112

In [133]:
df_listo['Automóviles En Régimen De Pasaje'] = automoviles_regimen_pasaje

## Automóviles En Régimen De Mercancía

In [134]:
automoviles_regimen_mercancia = df['Enero_2024 Automóviles En Régimen De Mercancía']

In [135]:
automoviles_regimen_mercancia_Febrero = df['Febrero_2024 Automóviles En Régimen De Mercancía']
automoviles_regimen_mercancia_Marzo = df['Marzo_2024 Automóviles En Régimen De Mercancía']
automoviles_regimen_mercancia_Abril = df['Abril_2024 Automóviles En Régimen De Mercancía']

In [136]:
automoviles_regimen_mercancia = automoviles_regimen_mercancia.tolist()
automoviles_regimen_mercancia_Febrero = automoviles_regimen_mercancia_Febrero.tolist()
automoviles_regimen_mercancia_Marzo = automoviles_regimen_mercancia_Marzo.tolist()
automoviles_regimen_mercancia_Abril = automoviles_regimen_mercancia_Abril.tolist()

In [137]:
for i in automoviles_regimen_mercancia_Febrero:
    automoviles_regimen_mercancia.append(i)
len(automoviles_regimen_mercancia)

for i in automoviles_regimen_mercancia_Marzo:
    automoviles_regimen_mercancia.append(i)
len(automoviles_regimen_mercancia)

for i in automoviles_regimen_mercancia_Abril:
    automoviles_regimen_mercancia.append(i)
len(automoviles_regimen_mercancia)

112

In [138]:
df_listo['Automóviles En Régimen De Mercancía'] = automoviles_regimen_mercancia

In [139]:
df_listo.tail()

,Meses,Autoridad_Portuaria,Graneles Líquidos t,Graneles Sólidos t,Mercancía General t,Mercancia General Contenedores t,Pesca t,Avituallamiento t,Avituallamiento De Combustibles Líquidos t,Tráfico Interior t,Mercancías En Tránsito t,Mercancías En Tránsito En Contenedores t,Tráfico Ro-Ro t,UTIS Ro-Ro,TEUS Contenedores,TEUS Contenedores En Tránsito,TEUS Contenedores Entrada-Salida Nacional,TEUS Contenedores Entrada-Salida Exterior,Unidades Buques Mercantes,G.T. Buques Mercantes,Unidades Buques De Crucero,Pasajeros En Régimen De Transporte Y De Crucero,Pasajeros En Régimen De Transporte,Pasajeros De Crucero,Automóviles En Régimen De Pasaje,Automóviles En Régimen De Mercancía
107,Abril_2024,Sevilla,62737,159187,153247,90326,0.000,4105,1338,0,0,0,13927,768,12104.50,0.0,11784.5,320.00,93,595179,11,3155,0,3155,0,417
108,Abril_2024,Tarragona,1747029,531797,167157,11144,237.686,10794,4720,0,65798,0,25348,0,1039.00,0.0,0.0,1039.00,194,3846320,10,11164,0,11164,0,17204
109,Abril_2024,Valencia,298325,171680,6471158,5005110,161.132,39503,33826,0,2901186,2844404,1244068,45653,463499.00,227997.0,22457.0,213045.00,656,26574881,38,130599,65781,64818,16622,60482
110,Abril_2024,Vigo,3000,27501,446454,262676,2754.865,5371,0,0,51997,43395,127983,1998,28621.00,4360.0,986.0,23275.00,157,4005657,10,12564,0,12564,0,49842
111,Abril_2024,Vilagarcía,48921,41318,62787,27852,0.000,657,223,0,1259,1259,0,0,3366.25,128.0,1971.5,1266.75,33,288563,0,0,0,0,0,171

In [140]:
df_listo.shape

(112, 26)

In [141]:
# Guardar una copia en csv
df_listo.to_csv('carga_2024/data_cargo_2024.csv', encoding='utf-8', sep=';')

In [142]:
import openpyxl
df_listo.to_excel('carga_2024/data_cargo_2024.xlsx')