# Procedimiento para seleccionar todas las cargas de 2022

In [1]:
# Import Packages
import pandas as pd
import numpy as np
import seaborn as sns
import os 
import openpyxl

In [2]:
ruta = os.path.join('archivos_mineria_funciones_cargo_2022_2023/carga.xlsx')
df = pd.read_excel(ruta)
display(df.head(10))

,Unnamed: 0,Autoridad Portuaria,Enero_2022 t Graneles Líquidos,Enero_2023 t Graneles Líquidos,Enero_2022 t Graneles Sólidos,Enero_2023 t Graneles Sólidos,Enero_2022 t Mercancía General,Enero_2023 t Mercancía General,Enero_2022 t Mercancía General Contenedores,Enero_2023 t Mercancía General Contenedores,...,Diciembre_2022 Pasajeros En Régimen De Transporte Y De Crucero,Diciembre_2023 Pasajeros En Régimen De Transporte Y De Crucero,Diciembre_2022 Pasajeros En Régimen De Transporte,Diciembre_2023 Pasajeros En Régimen De Transporte,Diciembre_2022 Pasajeros De Crucero,Diciembre_2023 Pasajeros De Crucero,Diciembre_2022 Automóviles En Régimen De Pasaje,Diciembre_2023 Automóviles En Régimen De Pasaje,Diciembre_2022 Automóviles En Régimen De Mercancía,Diciembre_2023 Automóviles En Régimen De Mercancía
0,0,A Coruña,623294,676655,464559,521447,79616,40997,0,66,...,10397,3924,0,0,10397,3924,0,0,0,0
1,1,Alicante,0,5453,119575,191759,104040,96204,97163,89345,...,14007,11659,7357,6558,6650,5101,2308,1521,1110,168
2,2,Almería,7512,4538,266992,299084,134447,74717,35899,11672,...,37988,45490,37988,45490,0,0,10991,12802,162,283
3,3,Avilés,74703,55417,189219,266336,97892,91717,0,0,...,0,0,0,0,0,0,0,0,0,0
4,4,Bahía de Algeciras,2268541,2380167,207212,31659,6062831,5747403,4742267,4544493,...,321572,376001,321572,376001,0,0,68462,81739,224,345
5,5,Bahía de Cádiz,80953,163563,186763,137032,206041,166825,157740,115728,...,26140,44352,1506,1455,24634,42897,914,850,864,1349
6,6,Baleares,89870,71491,25887,43279,824339,884058,25202,21952,...,344333,355384,282570,303547,61763,51837,66218,75901,7106,6359
7,7,Barcelona,1507323,999877,252729,414210,3811267,3571011,3015822,2789630,...,198977,218805,90483,92085,108494,126720,27560,28451,85065,66480
8,8,Bilbao,1522047,1503473,311203,334672,645821,595059,418899,407988,...,3790,21,3063,21,727,0,1285,0,2535,3950
9,9,Cartagena,2393757,2335996,707086,870622,85628,81870,56397,42249,...,5374,11439,0,0,5374,11439,0,0,1,0

In [3]:
autor = df['Autoridad Portuaria']

In [4]:
autoridad_porturaria = []
for i in range(12):
    for puerto in autor:
        autoridad_porturaria.append(puerto)
len(autoridad_porturaria)

336

In [ ]:
autoridad_porturaria

In [5]:
Meses = ['Enero_2022', 'Febrero_2022', 'Marzo_2022', 'Abril_2022', 'Mayo_2022', 'Junio_2022', 'Julio_2022', 'Agosto_2022', 'Septiembre_2022', 'Octubre_2022', 'Noviembre_2022', 'Diciembre_2022']

In [6]:
Mes = []
for i in Meses:
    for j in range(28):
        Mes.append(i)
len(Mes)

336

In [7]:

columns = ['Meses']

df_listo = pd.DataFrame(Mes, columns=columns)
df_listo.shape

(336, 1)

In [8]:
df_listo['Autoridad_Portuaria'] = autoridad_porturaria

In [9]:
df_listo

              Meses Autoridad_Portuaria
0        Enero_2022            A Coruña
1        Enero_2022            Alicante
2        Enero_2022             Almería
3        Enero_2022              Avilés
4        Enero_2022  Bahía de Algeciras
..              ...                 ...
331  Diciembre_2022             Sevilla
332  Diciembre_2022           Tarragona
333  Diciembre_2022            Valencia
334  Diciembre_2022                Vigo
335  Diciembre_2022          Vilagarcía

[336 rows x 2 columns]

## Graneles Líquidos

In [10]:
Graneles_liquidos = df['Enero_2022 t Graneles Líquidos']

In [11]:
Graneles_liquidos_Febrero = df['Febrero_2022 t Graneles Líquidos']
Graneles_liquidos_Marzo = df['Marzo_2022 t Graneles Líquidos']
Graneles_liquidos_Abril = df['Abril_2022 t Graneles Líquidos']
Graneles_liquidos_Mayo = df['Mayo_2022 t Graneles Líquidos']
Graneles_liquidos_Junio = df['Junio_2022 t Graneles Líquidos']
Graneles_liquidos_Julio = df['Julio_2022 t Graneles Líquidos']
Graneles_liquidos_Agosto = df['Agosto_2022 t Graneles Líquidos']
Graneles_liquidos_Septiembre = df['Septiembre_2022 t Graneles Líquidos']
Graneles_liquidos_Octubre = df['Octubre_2022 t Graneles Líquidos']
Graneles_liquidos_Noviembre = df['Noviembre_2022 t Graneles Líquidos']
Graneles_liquidos_Diciembre = df['Diciembre_2022 t Graneles Líquidos']

In [12]:
Graneles_liquidos = Graneles_liquidos.tolist()
Graneles_liquidos_Febrero = Graneles_liquidos_Febrero.tolist()
Graneles_liquidos_Marzo = Graneles_liquidos_Marzo.tolist()
Graneles_liquidos_Abril = Graneles_liquidos_Abril.tolist()
Graneles_liquidos_Mayo = Graneles_liquidos_Mayo.tolist()
Graneles_liquidos_Junio = Graneles_liquidos_Junio.tolist()
Graneles_liquidos_Julio = Graneles_liquidos_Julio.tolist()
Graneles_liquidos_Agosto = Graneles_liquidos_Agosto.tolist()
Graneles_liquidos_Septiembre = Graneles_liquidos_Septiembre.tolist()
Graneles_liquidos_Octubre = Graneles_liquidos_Octubre.tolist()
Graneles_liquidos_Noviembre = Graneles_liquidos_Noviembre.tolist()
Graneles_liquidos_Diciembre = Graneles_liquidos_Diciembre.tolist()

In [13]:
for i in Graneles_liquidos_Febrero:
    Graneles_liquidos.append(i)
len(Graneles_liquidos)

for i in Graneles_liquidos_Marzo:
    Graneles_liquidos.append(i)
len(Graneles_liquidos)

for i in Graneles_liquidos_Abril:
    Graneles_liquidos.append(i)
len(Graneles_liquidos)

for i in Graneles_liquidos_Mayo:
    Graneles_liquidos.append(i)
len(Graneles_liquidos)

for i in Graneles_liquidos_Junio:
    Graneles_liquidos.append(i)
len(Graneles_liquidos)

for i in Graneles_liquidos_Julio:
    Graneles_liquidos.append(i)
len(Graneles_liquidos)

for i in Graneles_liquidos_Agosto:
    Graneles_liquidos.append(i)
len(Graneles_liquidos)

for i in Graneles_liquidos_Septiembre:
    Graneles_liquidos.append(i)
len(Graneles_liquidos)

for i in Graneles_liquidos_Octubre:
    Graneles_liquidos.append(i)
len(Graneles_liquidos)

for i in Graneles_liquidos_Noviembre:
    Graneles_liquidos.append(i)
len(Graneles_liquidos)

for i in Graneles_liquidos_Diciembre:
    Graneles_liquidos.append(i)
len(Graneles_liquidos)

336

In [14]:
df_listo['Graneles Líquidos t'] = Graneles_liquidos

In [15]:
df_listo

              Meses Autoridad_Portuaria  Graneles Líquidos t
0        Enero_2022            A Coruña               623294
1        Enero_2022            Alicante                    0
2        Enero_2022             Almería                 7512
3        Enero_2022              Avilés                74703
4        Enero_2022  Bahía de Algeciras              2268541
..              ...                 ...                  ...
331  Diciembre_2022             Sevilla                51969
332  Diciembre_2022           Tarragona              1543352
333  Diciembre_2022            Valencia               449252
334  Diciembre_2022                Vigo                    0
335  Diciembre_2022          Vilagarcía                 8804

[336 rows x 3 columns]

## Graneles Sólidos

In [16]:
Graneles_solidos = df['Enero_2022 t Graneles Sólidos']

In [17]:
Graneles_solidos_Febrero = df['Febrero_2022 t Graneles Sólidos']
Graneles_solidos_Marzo = df['Marzo_2022 t Graneles Sólidos']
Graneles_solidos_Abril = df['Abril_2022 t Graneles Sólidos']
Graneles_solidos_Mayo = df['Mayo_2022 t Graneles Sólidos']
Graneles_solidos_Junio = df['Junio_2022 t Graneles Sólidos']
Graneles_solidos_Julio = df['Julio_2022 t Graneles Sólidos']
Graneles_solidos_Agosto = df['Agosto_2022 t Graneles Sólidos']
Graneles_solidos_Septiembre = df['Septiembre_2022 t Graneles Sólidos']
Graneles_solidos_Octubre = df['Octubre_2022 t Graneles Sólidos']
Graneles_solidos_Noviembre = df['Noviembre_2022 t Graneles Sólidos']
Graneles_solidos_Diciembre = df['Diciembre_2022 t Graneles Sólidos']

In [18]:
Graneles_solidos = Graneles_solidos.tolist()
Graneles_solidos_Febrero = Graneles_solidos_Febrero.tolist()
Graneles_solidos_Marzo = Graneles_solidos_Marzo.tolist()
Graneles_solidos_Abril = Graneles_solidos_Abril.tolist()
Graneles_solidos_Mayo = Graneles_solidos_Mayo.tolist()
Graneles_solidos_Junio = Graneles_solidos_Junio.tolist()
Graneles_solidos_Julio = Graneles_solidos_Julio.tolist()
Graneles_solidos_Agosto = Graneles_solidos_Agosto.tolist()
Graneles_solidos_Septiembre = Graneles_solidos_Septiembre.tolist()
Graneles_solidos_Octubre = Graneles_solidos_Octubre.tolist()
Graneles_solidos_Noviembre = Graneles_solidos_Noviembre.tolist()
Graneles_solidos_Diciembre = Graneles_solidos_Diciembre.tolist()

In [19]:
for i in Graneles_solidos_Febrero:
    Graneles_solidos.append(i)
len(Graneles_solidos)

for i in Graneles_solidos_Marzo:
    Graneles_solidos.append(i)
len(Graneles_solidos)

for i in Graneles_solidos_Abril:
    Graneles_solidos.append(i)
len(Graneles_solidos)

for i in Graneles_solidos_Mayo:
    Graneles_solidos.append(i)
len(Graneles_solidos)

for i in Graneles_solidos_Junio:
    Graneles_solidos.append(i)
len(Graneles_solidos)

for i in Graneles_solidos_Julio:
    Graneles_solidos.append(i)
len(Graneles_solidos)

for i in Graneles_solidos_Agosto:
    Graneles_solidos.append(i)
len(Graneles_solidos)

for i in Graneles_solidos_Septiembre:
    Graneles_solidos.append(i)
len(Graneles_solidos)

for i in Graneles_solidos_Octubre:
    Graneles_solidos.append(i)
len(Graneles_solidos)

for i in Graneles_solidos_Noviembre:
    Graneles_solidos.append(i)
len(Graneles_solidos)

for i in Graneles_solidos_Diciembre:
    Graneles_solidos.append(i)
len(Graneles_solidos)

336

In [20]:
df_listo['Graneles Sólidos t'] = Graneles_solidos

In [21]:
df_listo.head()

        Meses Autoridad_Portuaria  Graneles Líquidos t  Graneles Sólidos t
0  Enero_2022            A Coruña               623294              464559
1  Enero_2022            Alicante                    0              119575
2  Enero_2022             Almería                 7512              266992
3  Enero_2022              Avilés                74703              189219
4  Enero_2022  Bahía de Algeciras              2268541              207212

## Mercancía General

In [22]:
Mercancia_general = df['Enero_2022 t Mercancía General']

In [23]:
Mercancia_general_Febrero = df['Febrero_2022 t Mercancía General']
Mercancia_general_Marzo = df['Marzo_2022 t Mercancía General']
Mercancia_general_Abril = df['Abril_2022 t Mercancía General']
Mercancia_general_Mayo = df['Mayo_2022 t Mercancía General']
Mercancia_general_Junio = df['Junio_2022 t Mercancía General']
Mercancia_general_Julio = df['Julio_2022 t Mercancía General']
Mercancia_general_Agosto = df['Agosto_2022 t Mercancía General']
Mercancia_general_Septiembre = df['Septiembre_2022 t Mercancía General']
Mercancia_general_Octubre = df['Octubre_2022 t Mercancía General']
Mercancia_general_Noviembre = df['Noviembre_2022 t Mercancía General']
Mercancia_general_Diciembre = df['Diciembre_2022 t Mercancía General']

In [24]:
Mercancia_general = Mercancia_general.tolist()
Mercancia_general_Febrero = Mercancia_general_Febrero.tolist()
Mercancia_general_Marzo = Mercancia_general_Marzo.tolist()
Mercancia_general_Abril = Mercancia_general_Abril.tolist()
Mercancia_general_Mayo = Mercancia_general_Mayo.tolist()
Mercancia_general_Junio = Mercancia_general_Junio.tolist()
Mercancia_general_Julio = Mercancia_general_Julio.tolist()
Mercancia_general_Agosto = Mercancia_general_Agosto.tolist()
Mercancia_general_Septiembre = Mercancia_general_Septiembre.tolist()
Mercancia_general_Octubre = Mercancia_general_Octubre.tolist()
Mercancia_general_Noviembre = Mercancia_general_Noviembre.tolist()
Mercancia_general_Diciembre = Mercancia_general_Diciembre.tolist()

In [25]:
for i in Mercancia_general_Febrero:
    Mercancia_general.append(i)
len(Mercancia_general)

for i in Mercancia_general_Marzo:
    Mercancia_general.append(i)
len(Mercancia_general)

for i in Mercancia_general_Abril:
    Mercancia_general.append(i)
len(Mercancia_general)

for i in Mercancia_general_Mayo:
    Mercancia_general.append(i)
len(Mercancia_general)

for i in Mercancia_general_Junio:
    Mercancia_general.append(i)
len(Mercancia_general)

for i in Mercancia_general_Julio:
    Mercancia_general.append(i)
len(Mercancia_general)

for i in Mercancia_general_Agosto:
    Mercancia_general.append(i)
len(Mercancia_general)

for i in Mercancia_general_Septiembre:
    Mercancia_general.append(i)
len(Mercancia_general)

for i in Mercancia_general_Octubre:
    Mercancia_general.append(i)
len(Mercancia_general)

for i in Mercancia_general_Noviembre:
    Mercancia_general.append(i)
len(Mercancia_general)

for i in Mercancia_general_Diciembre:
    Mercancia_general.append(i)
len(Mercancia_general)

336

In [26]:
df_listo['Mercancía General t'] = Mercancia_general

## Mercancía General Contenedores

In [27]:
Mercancia_general_contenedores = df['Enero_2022 t Mercancía General Contenedores']

In [28]:
Mercancia_general_contenedores_Febrero = df['Febrero_2022 t Mercancía General Contenedores']
Mercancia_general_contenedores_Marzo = df['Marzo_2022 t Mercancía General Contenedores']
Mercancia_general_contenedores_Abril = df['Abril_2022 t Mercancía General Contenedores']
Mercancia_general_contenedores_Mayo = df['Mayo_2022 t Mercancía General Contenedores']
Mercancia_general_contenedores_Junio = df['Junio_2022 t Mercancía General Contenedores']
Mercancia_general_contenedores_Julio = df['Julio_2022 t Mercancía General Contenedores']
Mercancia_general_contenedores_Agosto = df['Agosto_2022 t Mercancía General Contenedores']
Mercancia_general_contenedores_Septiembre = df['Septiembre_2022 t Mercancía General Contenedores']
Mercancia_general_contenedores_Octubre = df['Octubre_2022 t Mercancía General Contenedores']
Mercancia_general_contenedores_Noviembre = df['Noviembre_2022 t Mercancía General Contenedores']
Mercancia_general_contenedores_Diciembre = df['Diciembre_2022 t Mercancía General Contenedores']

In [29]:
Mercancia_general_contenedores = Mercancia_general_contenedores.tolist()
Mercancia_general_contenedores_Febrero = Mercancia_general_contenedores_Febrero.tolist()
Mercancia_general_contenedores_Marzo = Mercancia_general_contenedores_Marzo.tolist()
Mercancia_general_contenedores_Abril = Mercancia_general_contenedores_Abril.tolist()
Mercancia_general_contenedores_Mayo = Mercancia_general_contenedores_Mayo.tolist()
Mercancia_general_contenedores_Junio = Mercancia_general_contenedores_Junio.tolist()
Mercancia_general_contenedores_Julio = Mercancia_general_contenedores_Julio.tolist()
Mercancia_general_contenedores_Agosto = Mercancia_general_contenedores_Agosto.tolist()
Mercancia_general_contenedores_Septiembre = Mercancia_general_contenedores_Septiembre.tolist()
Mercancia_general_contenedores_Octubre = Mercancia_general_contenedores_Octubre.tolist()
Mercancia_general_contenedores_Noviembre = Mercancia_general_contenedores_Noviembre.tolist()
Mercancia_general_contenedores_Diciembre = Mercancia_general_contenedores_Diciembre.tolist()

In [30]:
for i in Mercancia_general_contenedores_Febrero:
    Mercancia_general_contenedores.append(i)
len(Mercancia_general_contenedores)

for i in Mercancia_general_contenedores_Marzo:
    Mercancia_general_contenedores.append(i)
len(Mercancia_general_contenedores)

for i in Mercancia_general_contenedores_Abril:
    Mercancia_general_contenedores.append(i)
len(Mercancia_general_contenedores)

for i in Mercancia_general_contenedores_Mayo:
    Mercancia_general_contenedores.append(i)
len(Mercancia_general_contenedores)

for i in Mercancia_general_contenedores_Junio:
    Mercancia_general_contenedores.append(i)
len(Mercancia_general_contenedores)

for i in Mercancia_general_contenedores_Julio:
    Mercancia_general_contenedores.append(i)
len(Mercancia_general_contenedores)

for i in Mercancia_general_contenedores_Agosto:
    Mercancia_general_contenedores.append(i)
len(Mercancia_general_contenedores)

for i in Mercancia_general_contenedores_Septiembre:
    Mercancia_general_contenedores.append(i)
len(Mercancia_general_contenedores)

for i in Mercancia_general_contenedores_Octubre:
    Mercancia_general_contenedores.append(i)
len(Mercancia_general_contenedores)

for i in Mercancia_general_contenedores_Noviembre:
    Mercancia_general_contenedores.append(i)
len(Mercancia_general_contenedores)

for i in Mercancia_general_contenedores_Diciembre:
    Mercancia_general_contenedores.append(i)
len(Mercancia_general_contenedores)

336

In [31]:
df_listo['Mercancia General Contenedores t'] = Mercancia_general_contenedores

## Pesca

In [32]:
Pesca = df['Enero_2022 t Pesca']

In [33]:
Pesca_Febrero = df['Febrero_2022 t Pesca']
Pesca_Marzo = df['Marzo_2022 t Pesca']
Pesca_Abril = df['Abril_2022 t Pesca']
Pesca_Mayo = df['Mayo_2022 t Pesca']
Pesca_Junio = df['Junio_2022 t Pesca']
Pesca_Julio = df['Julio_2022 t Pesca']
Pesca_Agosto = df['Agosto_2022 t Pesca']
Pesca_Septiembre = df['Septiembre_2022 t Pesca']
Pesca_Octubre = df['Octubre_2022 t Pesca']
Pesca_Noviembre = df['Noviembre_2022 t Pesca']
Pesca_Diciembre = df['Diciembre_2022 t Pesca']

In [34]:
Pesca = Pesca.tolist()
Pesca_Febrero = Pesca_Febrero.tolist()
Pesca_Marzo = Pesca_Marzo.tolist()
Pesca_Abril = Pesca_Abril.tolist()
Pesca_Mayo = Pesca_Mayo.tolist()
Pesca_Junio = Pesca_Junio.tolist()
Pesca_Julio = Pesca_Julio.tolist()
Pesca_Agosto = Pesca_Agosto.tolist()
Pesca_Septiembre = Pesca_Septiembre.tolist()
Pesca_Octubre = Pesca_Octubre.tolist()
Pesca_Noviembre = Pesca_Noviembre.tolist()
Pesca_Diciembre = Pesca_Diciembre.tolist()

In [35]:
for i in Pesca_Febrero:
    Pesca.append(i)
len(Pesca)

for i in Pesca_Marzo:
    Pesca.append(i)
len(Pesca)

for i in Pesca_Abril:
    Pesca.append(i)
len(Pesca)

for i in Pesca_Mayo:
    Pesca.append(i)
len(Pesca)

for i in Pesca_Junio:
    Pesca.append(i)
len(Pesca)

for i in Pesca_Julio:
    Pesca.append(i)
len(Pesca)

for i in Pesca_Agosto:
    Pesca.append(i)
len(Pesca)

for i in Pesca_Septiembre:
    Pesca.append(i)
len(Pesca)

for i in Pesca_Octubre:
    Pesca.append(i)
len(Pesca)

for i in Pesca_Noviembre:
    Pesca.append(i)
len(Pesca)

for i in Pesca_Diciembre:
    Pesca.append(i)
len(Pesca)

336

In [36]:
pd.options.display.max_columns = None
pd.options.display.max_rows = None

In [37]:
df_listo['Pesca t'] = Pesca

In [38]:
df_listo.head()

,Meses,Autoridad_Portuaria,Graneles Líquidos t,Graneles Sólidos t,Mercancía General t,Mercancia General Contenedores t,Pesca t
0,Enero_2022,A Coruña,623294,464559,79616,0,1403.861
1,Enero_2022,Alicante,0,119575,104040,97163,0.000
2,Enero_2022,Almería,7512,266992,134447,35899,208.561
3,Enero_2022,Avilés,74703,189219,97892,0,627.525
4,Enero_2022,Bahía de Algeciras,2268541,207212,6062831,4742267,23.820

## Avituallamiento

In [39]:
Avituallamiento = df['Enero_2022 t Avituallamiento']

In [40]:
Avituallamiento_Febrero = df['Febrero_2022 t Avituallamiento']
Avituallamiento_Marzo = df['Marzo_2022 t Avituallamiento']
Avituallamiento_Abril = df['Abril_2022 t Avituallamiento']
Avituallamiento_Mayo = df['Mayo_2022 t Avituallamiento']
Avituallamiento_Junio = df['Junio_2022 t Avituallamiento']
Avituallamiento_Julio = df['Julio_2022 t Avituallamiento']
Avituallamiento_Agosto = df['Agosto_2022 t Avituallamiento']
Avituallamiento_Septiembre = df['Septiembre_2022 t Avituallamiento']
Avituallamiento_Octubre = df['Octubre_2022 t Avituallamiento']
Avituallamiento_Noviembre = df['Noviembre_2022 t Avituallamiento']
Avituallamiento_Diciembre = df['Diciembre_2022 t Avituallamiento']

In [41]:
Avituallamiento = Avituallamiento.tolist()
Avituallamiento_Febrero = Avituallamiento_Febrero.tolist()
Avituallamiento_Marzo = Avituallamiento_Marzo.tolist()
Avituallamiento_Abril = Avituallamiento_Abril.tolist()
Avituallamiento_Mayo = Avituallamiento_Mayo.tolist()
Avituallamiento_Junio = Avituallamiento_Junio.tolist()
Avituallamiento_Julio = Avituallamiento_Julio.tolist()
Avituallamiento_Agosto = Avituallamiento_Agosto.tolist()
Avituallamiento_Septiembre = Avituallamiento_Septiembre.tolist()
Avituallamiento_Octubre = Avituallamiento_Octubre.tolist()
Avituallamiento_Noviembre = Avituallamiento_Noviembre.tolist()
Avituallamiento_Diciembre = Avituallamiento_Diciembre.tolist()

In [42]:
for i in Avituallamiento_Febrero:
    Avituallamiento.append(i)
len(Avituallamiento)

for i in Avituallamiento_Marzo:
    Avituallamiento.append(i)
len(Avituallamiento)

for i in Avituallamiento_Abril:
    Avituallamiento.append(i)
len(Avituallamiento)

for i in Avituallamiento_Mayo:
    Avituallamiento.append(i)
len(Avituallamiento)

for i in Avituallamiento_Junio:
    Avituallamiento.append(i)
len(Avituallamiento)

for i in Avituallamiento_Julio:
    Avituallamiento.append(i)
len(Avituallamiento)

for i in Avituallamiento_Agosto:
    Avituallamiento.append(i)
len(Avituallamiento)

for i in Avituallamiento_Septiembre:
    Avituallamiento.append(i)
len(Avituallamiento)

for i in Avituallamiento_Octubre:
    Avituallamiento.append(i)
len(Avituallamiento)

for i in Avituallamiento_Noviembre:
    Avituallamiento.append(i)
len(Avituallamiento)

for i in Avituallamiento_Diciembre:
    Avituallamiento.append(i)
len(Avituallamiento)

336

In [43]:
df_listo['Avituallamiento t'] = Avituallamiento

## Avituallamiento De Combustibles Líquidos

In [44]:
Avituallamiento_de_comb_liquidos = df['Enero_2022 t Avituallamiento De Combustibles Líquidos']

In [45]:
Avituallamiento_De_Combustibles_Líquidos_Febrero = df['Febrero_2022 t Avituallamiento De Combustibles Líquidos']
Avituallamiento_De_Combustibles_Líquidos_Marzo = df['Marzo_2022 t Avituallamiento De Combustibles Líquidos']
Avituallamiento_De_Combustibles_Líquidos_Abril = df['Abril_2022 t Avituallamiento De Combustibles Líquidos']
Avituallamiento_De_Combustibles_Líquidos_Mayo = df['Mayo_2022 t Avituallamiento De Combustibles Líquidos']
Avituallamiento_De_Combustibles_Líquidos_Junio = df['Junio_2022 t Avituallamiento De Combustibles Líquidos']
Avituallamiento_De_Combustibles_Líquidos_Julio = df['Julio_2022 t Avituallamiento De Combustibles Líquidos']
Avituallamiento_De_Combustibles_Líquidos_Agosto = df['Agosto_2022 t Avituallamiento De Combustibles Líquidos']
Avituallamiento_De_Combustibles_Líquidos_Septiembre = df['Septiembre_2022 t Avituallamiento De Combustibles Líquidos']
Avituallamiento_De_Combustibles_Líquidos_Octubre = df['Octubre_2022 t Avituallamiento De Combustibles Líquidos']
Avituallamiento_De_Combustibles_Líquidos_Noviembre = df['Noviembre_2022 t Avituallamiento De Combustibles Líquidos']
Avituallamiento_De_Combustibles_Líquidos_Diciembre = df['Diciembre_2022 t Avituallamiento De Combustibles Líquidos']

In [46]:
Avituallamiento_De_Combustibles_Líquidos = Avituallamiento_de_comb_liquidos.tolist()
Avituallamiento_De_Combustibles_Líquidos_Febrero = Avituallamiento_De_Combustibles_Líquidos_Febrero.tolist()
Avituallamiento_De_Combustibles_Líquidos_Marzo = Avituallamiento_De_Combustibles_Líquidos_Marzo.tolist()
Avituallamiento_De_Combustibles_Líquidos_Abril = Avituallamiento_De_Combustibles_Líquidos_Abril.tolist()
Avituallamiento_De_Combustibles_Líquidos_Mayo = Avituallamiento_De_Combustibles_Líquidos_Mayo.tolist()
Avituallamiento_De_Combustibles_Líquidos_Junio = Avituallamiento_De_Combustibles_Líquidos_Junio.tolist()
Avituallamiento_De_Combustibles_Líquidos_Julio = Avituallamiento_De_Combustibles_Líquidos_Julio.tolist()
Avituallamiento_De_Combustibles_Líquidos_Agosto = Avituallamiento_De_Combustibles_Líquidos_Agosto.tolist()
Avituallamiento_De_Combustibles_Líquidos_Septiembre = Avituallamiento_De_Combustibles_Líquidos_Septiembre.tolist()
Avituallamiento_De_Combustibles_Líquidos_Octubre = Avituallamiento_De_Combustibles_Líquidos_Octubre.tolist()
Avituallamiento_De_Combustibles_Líquidos_Noviembre = Avituallamiento_De_Combustibles_Líquidos_Noviembre.tolist()
Avituallamiento_De_Combustibles_Líquidos_Diciembre = Avituallamiento_De_Combustibles_Líquidos_Diciembre.tolist()

In [47]:
for i in Avituallamiento_De_Combustibles_Líquidos_Febrero:
    Avituallamiento_De_Combustibles_Líquidos.append(i)
len(Avituallamiento_De_Combustibles_Líquidos)

for i in Avituallamiento_De_Combustibles_Líquidos_Marzo:
    Avituallamiento_De_Combustibles_Líquidos.append(i)
len(Avituallamiento_De_Combustibles_Líquidos)

for i in Avituallamiento_De_Combustibles_Líquidos_Abril:
    Avituallamiento_De_Combustibles_Líquidos.append(i)
len(Avituallamiento_De_Combustibles_Líquidos)

for i in Avituallamiento_De_Combustibles_Líquidos_Mayo:
    Avituallamiento_De_Combustibles_Líquidos.append(i)
len(Avituallamiento_De_Combustibles_Líquidos)

for i in Avituallamiento_De_Combustibles_Líquidos_Junio:
    Avituallamiento_De_Combustibles_Líquidos.append(i)
len(Avituallamiento_De_Combustibles_Líquidos)

for i in Avituallamiento_De_Combustibles_Líquidos_Julio:
    Avituallamiento_De_Combustibles_Líquidos.append(i)
len(Avituallamiento_De_Combustibles_Líquidos)

for i in Avituallamiento_De_Combustibles_Líquidos_Agosto:
    Avituallamiento_De_Combustibles_Líquidos.append(i)
len(Avituallamiento_De_Combustibles_Líquidos)

for i in Avituallamiento_De_Combustibles_Líquidos_Septiembre:
    Avituallamiento_De_Combustibles_Líquidos.append(i)
len(Avituallamiento_De_Combustibles_Líquidos)

for i in Avituallamiento_De_Combustibles_Líquidos_Octubre:
    Avituallamiento_De_Combustibles_Líquidos.append(i)
len(Avituallamiento_De_Combustibles_Líquidos)

for i in Avituallamiento_De_Combustibles_Líquidos_Noviembre:
    Avituallamiento_De_Combustibles_Líquidos.append(i)
len(Avituallamiento_De_Combustibles_Líquidos)

for i in Avituallamiento_De_Combustibles_Líquidos_Diciembre:
    Avituallamiento_De_Combustibles_Líquidos.append(i)
len(Avituallamiento_De_Combustibles_Líquidos)

336

In [48]:
df_listo['Avituallamiento De Combustibles Líquidos t'] = Avituallamiento_De_Combustibles_Líquidos

## Tráfico Interior

In [49]:
Trafico_interior = df['Enero_2022 t Tráfico Interior']

In [50]:
Trafico_interior_Febrero = df['Febrero_2022 t Tráfico Interior']
Trafico_interior_Marzo = df['Marzo_2022 t Tráfico Interior']
Trafico_interior_Abril = df['Abril_2022 t Tráfico Interior']
Trafico_interior_Mayo = df['Mayo_2022 t Tráfico Interior']
Trafico_interior_Junio = df['Junio_2022 t Tráfico Interior']
Trafico_interior_Julio = df['Julio_2022 t Tráfico Interior']
Trafico_interior_Agosto = df['Agosto_2022 t Tráfico Interior']
Trafico_interior_Septiembre = df['Septiembre_2022 t Tráfico Interior']
Trafico_interior_Octubre = df['Octubre_2022 t Tráfico Interior']
Trafico_interior_Noviembre = df['Noviembre_2022 t Tráfico Interior']
Trafico_interior_Diciembre = df['Diciembre_2022 t Tráfico Interior']

In [51]:
Trafico_interior = Trafico_interior.tolist()

In [52]:

Trafico_interior_Febrero = Trafico_interior_Febrero.tolist()
Trafico_interior_Marzo = Trafico_interior_Marzo.tolist()
Trafico_interior_Abril = Trafico_interior_Abril.tolist()
Trafico_interior_Mayo = Trafico_interior_Mayo.tolist()
Trafico_interior_Junio = Trafico_interior_Junio.tolist()
Trafico_interior_Julio = Trafico_interior_Julio.tolist()
Trafico_interior_Agosto = Trafico_interior_Agosto.tolist()
Trafico_interior_Septiembre = Trafico_interior_Septiembre.tolist()
Trafico_interior_Octubre = Trafico_interior_Octubre.tolist()
Trafico_interior_Noviembre = Trafico_interior_Noviembre.tolist()
Trafico_interior_Diciembre = Trafico_interior_Diciembre.tolist()

In [53]:
for i in Trafico_interior_Febrero:
    Trafico_interior.append(i)
len(Trafico_interior)

for i in Trafico_interior_Marzo:
    Trafico_interior.append(i)
len(Trafico_interior)

for i in Trafico_interior_Abril:
    Trafico_interior.append(i)
len(Trafico_interior)

for i in Trafico_interior_Mayo:
    Trafico_interior.append(i)
len(Trafico_interior)

for i in Trafico_interior_Junio:
    Trafico_interior.append(i)
len(Trafico_interior)

for i in Trafico_interior_Julio:
    Trafico_interior.append(i)
len(Trafico_interior)

for i in Trafico_interior_Agosto:
    Trafico_interior.append(i)
len(Trafico_interior)

for i in Trafico_interior_Septiembre:
    Trafico_interior.append(i)
len(Trafico_interior)

for i in Trafico_interior_Octubre:
    Trafico_interior.append(i)
len(Trafico_interior)

for i in Trafico_interior_Noviembre:
    Trafico_interior.append(i)
len(Trafico_interior)

for i in Trafico_interior_Diciembre:
    Trafico_interior.append(i)
len(Trafico_interior)

336

In [54]:
df_listo['Tráfico Interior t'] = Trafico_interior

## Mercancías En Tránsito

In [55]:
Mercancias_en_transito = df['Enero_2022 t Mercancías En Tránsito']

In [56]:
Mercancias_en_transito_Febrero = df['Febrero_2022 t Mercancías En Tránsito']
Mercancias_en_transito_Marzo = df['Marzo_2022 t Mercancías En Tránsito']
Mercancias_en_transito_Abril = df['Abril_2022 t Mercancías En Tránsito']
Mercancias_en_transito_Mayo = df['Mayo_2022 t Mercancías En Tránsito']
Mercancias_en_transito_Junio = df['Junio_2022 t Mercancías En Tránsito']
Mercancias_en_transito_Julio = df['Julio_2022 t Mercancías En Tránsito']
Mercancias_en_transito_Agosto = df['Agosto_2022 t Mercancías En Tránsito']
Mercancias_en_transito_Septiembre = df['Septiembre_2022 t Mercancías En Tránsito']
Mercancias_en_transito_Octubre = df['Octubre_2022 t Mercancías En Tránsito']
Mercancias_en_transito_Noviembre = df['Noviembre_2022 t Mercancías En Tránsito']
Mercancias_en_transito_Diciembre = df['Diciembre_2022 t Mercancías En Tránsito']

In [57]:
Mercancias_en_transito = Mercancias_en_transito.tolist()
Mercancias_en_transito_Febrero = Mercancias_en_transito_Febrero.tolist()
Mercancias_en_transito_Marzo = Mercancias_en_transito_Marzo.tolist()
Mercancias_en_transito_Abril = Mercancias_en_transito_Abril.tolist()
Mercancias_en_transito_Mayo = Mercancias_en_transito_Mayo.tolist()
Mercancias_en_transito_Junio = Mercancias_en_transito_Junio.tolist()
Mercancias_en_transito_Julio = Mercancias_en_transito_Julio.tolist()
Mercancias_en_transito_Agosto = Mercancias_en_transito_Agosto.tolist()
Mercancias_en_transito_Septiembre = Mercancias_en_transito_Septiembre.tolist()
Mercancias_en_transito_Octubre = Mercancias_en_transito_Octubre.tolist()
Mercancias_en_transito_Noviembre = Mercancias_en_transito_Noviembre.tolist()
Mercancias_en_transito_Diciembre = Mercancias_en_transito_Diciembre.tolist()

In [58]:
for i in Mercancias_en_transito_Febrero:
    Mercancias_en_transito.append(i)
len(Mercancias_en_transito)

for i in Mercancias_en_transito_Marzo:
    Mercancias_en_transito.append(i)
len(Mercancias_en_transito)

for i in Mercancias_en_transito_Abril:
    Mercancias_en_transito.append(i)
len(Mercancias_en_transito)

for i in Mercancias_en_transito_Mayo:
    Mercancias_en_transito.append(i)
len(Mercancias_en_transito)

for i in Mercancias_en_transito_Junio:
    Mercancias_en_transito.append(i)
len(Mercancias_en_transito)

for i in Mercancias_en_transito_Julio:
    Mercancias_en_transito.append(i)
len(Mercancias_en_transito)

for i in Mercancias_en_transito_Agosto:
    Mercancias_en_transito.append(i)
len(Mercancias_en_transito)

for i in Mercancias_en_transito_Septiembre:
    Mercancias_en_transito.append(i)
len(Mercancias_en_transito)

for i in Mercancias_en_transito_Octubre:
    Mercancias_en_transito.append(i)
len(Mercancias_en_transito)

for i in Mercancias_en_transito_Noviembre:
    Mercancias_en_transito.append(i)
len(Mercancias_en_transito)

for i in Mercancias_en_transito_Diciembre:
    Mercancias_en_transito.append(i)
len(Mercancias_en_transito)

336

In [59]:
df_listo['Mercancías En Tránsito t'] = Mercancias_en_transito

## Mercancías En Tránsito En Contenedores

In [60]:
Mercancias_en_transito_contenedores = df['Enero_2022 t Mercancías En Tránsito En Contenedores']

In [61]:
Mercancias_en_transito_contenedores_Febrero = df['Febrero_2022 t Mercancías En Tránsito En Contenedores']
Mercancias_en_transito_contenedores_Marzo = df['Marzo_2022 t Mercancías En Tránsito En Contenedores']
Mercancias_en_transito_contenedores_Abril = df['Abril_2022 t Mercancías En Tránsito En Contenedores']
Mercancias_en_transito_contenedores_Mayo = df['Mayo_2022 t Mercancías En Tránsito En Contenedores']
Mercancias_en_transito_contenedores_Junio = df['Junio_2022 t Mercancías En Tránsito En Contenedores']
Mercancias_en_transito_contenedores_Julio = df['Julio_2022 t Mercancías En Tránsito En Contenedores']
Mercancias_en_transito_contenedores_Agosto = df['Agosto_2022 t Mercancías En Tránsito En Contenedores']
Mercancias_en_transito_contenedores_Septiembre = df['Septiembre_2022 t Mercancías En Tránsito En Contenedores']
Mercancias_en_transito_contenedores_Octubre = df['Octubre_2022 t Mercancías En Tránsito En Contenedores']
Mercancias_en_transito_contenedores_Noviembre = df['Noviembre_2022 t Mercancías En Tránsito En Contenedores']
Mercancias_en_transito_contenedores_Diciembre = df['Diciembre_2022 t Mercancías En Tránsito En Contenedores']

In [62]:
Mercancias_en_transito_contenedores = Mercancias_en_transito_contenedores.tolist()
Mercancias_en_transito_contenedores_Febrero = Mercancias_en_transito_contenedores_Febrero.tolist()
Mercancias_en_transito_contenedores_Marzo = Mercancias_en_transito_contenedores_Marzo.tolist()
Mercancias_en_transito_contenedores_Abril = Mercancias_en_transito_contenedores_Abril.tolist()
Mercancias_en_transito_contenedores_Mayo = Mercancias_en_transito_contenedores_Mayo.tolist()
Mercancias_en_transito_contenedores_Junio = Mercancias_en_transito_contenedores_Junio.tolist()
Mercancias_en_transito_contenedores_Julio = Mercancias_en_transito_contenedores_Julio.tolist()
Mercancias_en_transito_contenedores_Agosto = Mercancias_en_transito_contenedores_Agosto.tolist()
Mercancias_en_transito_contenedores_Septiembre = Mercancias_en_transito_contenedores_Septiembre.tolist()
Mercancias_en_transito_contenedores_Octubre = Mercancias_en_transito_contenedores_Octubre.tolist()
Mercancias_en_transito_contenedores_Noviembre = Mercancias_en_transito_contenedores_Noviembre.tolist()
Mercancias_en_transito_contenedores_Diciembre = Mercancias_en_transito_contenedores_Diciembre.tolist()

In [63]:
for i in Mercancias_en_transito_contenedores_Febrero:
    Mercancias_en_transito_contenedores.append(i)
len(Mercancias_en_transito_contenedores)

for i in Mercancias_en_transito_contenedores_Marzo:
    Mercancias_en_transito_contenedores.append(i)
len(Mercancias_en_transito_contenedores)

for i in Mercancias_en_transito_contenedores_Abril:
    Mercancias_en_transito_contenedores.append(i)
len(Mercancias_en_transito_contenedores)

for i in Mercancias_en_transito_contenedores_Mayo:
    Mercancias_en_transito_contenedores.append(i)
len(Mercancias_en_transito_contenedores)

for i in Mercancias_en_transito_contenedores_Junio:
    Mercancias_en_transito_contenedores.append(i)
len(Mercancias_en_transito_contenedores)

for i in Mercancias_en_transito_contenedores_Julio:
    Mercancias_en_transito_contenedores.append(i)
len(Mercancias_en_transito_contenedores)

for i in Mercancias_en_transito_contenedores_Agosto:
    Mercancias_en_transito_contenedores.append(i)
len(Mercancias_en_transito_contenedores)

for i in Mercancias_en_transito_contenedores_Septiembre:
    Mercancias_en_transito_contenedores.append(i)
len(Mercancias_en_transito_contenedores)

for i in Mercancias_en_transito_contenedores_Octubre:
    Mercancias_en_transito_contenedores.append(i)
len(Mercancias_en_transito_contenedores)

for i in Mercancias_en_transito_contenedores_Noviembre:
    Mercancias_en_transito_contenedores.append(i)
len(Mercancias_en_transito_contenedores)

for i in Mercancias_en_transito_contenedores_Diciembre:
    Mercancias_en_transito_contenedores.append(i)
len(Mercancias_en_transito_contenedores)

336

In [64]:
df_listo['Mercancías En Tránsito En Contenedores t'] = Mercancias_en_transito_contenedores

In [65]:
df_listo.head()

,Meses,Autoridad_Portuaria,Graneles Líquidos t,Graneles Sólidos t,Mercancía General t,Mercancia General Contenedores t,Pesca t,Avituallamiento t,Avituallamiento De Combustibles Líquidos t,Tráfico Interior t,Mercancías En Tránsito t,Mercancías En Tránsito En Contenedores t
0,Enero_2022,A Coruña,623294,464559,79616,0,1403.861,2998,2209,0,92330,0
1,Enero_2022,Alicante,0,119575,104040,97163,0.000,1484,129,0,4663,4663
2,Enero_2022,Almería,7512,266992,134447,35899,208.561,4601,2290,0,141,141
3,Enero_2022,Avilés,74703,189219,97892,0,627.525,4251,1596,0,3025,0
4,Enero_2022,Bahía de Algeciras,2268541,207212,6062831,4742267,23.820,286828,274068,260600,5304368,4253234

## Tráfico Ro-Ro

In [66]:
Trafico_ro_ro = df['Enero_2022 t Tráfico Ro-Ro']

In [67]:
Trafico_ro_ro_Febrero = df['Febrero_2022 t Tráfico Ro-Ro']
Trafico_ro_ro_Marzo = df['Marzo_2022 t Tráfico Ro-Ro']
Trafico_ro_ro_Abril = df['Abril_2022 t Tráfico Ro-Ro']
Trafico_ro_ro_Mayo = df['Mayo_2022 t Tráfico Ro-Ro']
Trafico_ro_ro_Junio = df['Junio_2022 t Tráfico Ro-Ro']
Trafico_ro_ro_Julio = df['Julio_2022 t Tráfico Ro-Ro']
Trafico_ro_ro_Agosto = df['Agosto_2022 t Tráfico Ro-Ro']
Trafico_ro_ro_Septiembre = df['Septiembre_2022 t Tráfico Ro-Ro']
Trafico_ro_ro_Octubre = df['Octubre_2022 t Tráfico Ro-Ro']
Trafico_ro_ro_Noviembre = df['Noviembre_2022 t Tráfico Ro-Ro']
Trafico_ro_ro_Diciembre = df['Diciembre_2022 t Tráfico Ro-Ro']

In [68]:
Trafico_ro_ro = Trafico_ro_ro.tolist()
Trafico_ro_ro_Febrero = Trafico_ro_ro_Febrero.tolist()
Trafico_ro_ro_Marzo = Trafico_ro_ro_Marzo.tolist()
Trafico_ro_ro_Abril = Trafico_ro_ro_Abril.tolist()
Trafico_ro_ro_Mayo = Trafico_ro_ro_Mayo.tolist()
Trafico_ro_ro_Junio = Trafico_ro_ro_Junio.tolist()
Trafico_ro_ro_Julio = Trafico_ro_ro_Julio.tolist()
Trafico_ro_ro_Agosto = Trafico_ro_ro_Agosto.tolist()
Trafico_ro_ro_Septiembre = Trafico_ro_ro_Septiembre.tolist()
Trafico_ro_ro_Octubre = Trafico_ro_ro_Octubre.tolist()
Trafico_ro_ro_Noviembre = Trafico_ro_ro_Noviembre.tolist()
Trafico_ro_ro_Diciembre = Trafico_ro_ro_Diciembre.tolist()

In [69]:
for i in Trafico_ro_ro_Febrero:
    Trafico_ro_ro.append(i)
len(Trafico_ro_ro)

for i in Trafico_ro_ro_Marzo:
    Trafico_ro_ro.append(i)
len(Trafico_ro_ro)

for i in Trafico_ro_ro_Abril:
    Trafico_ro_ro.append(i)
len(Trafico_ro_ro)

for i in Trafico_ro_ro_Mayo:
    Trafico_ro_ro.append(i)
len(Trafico_ro_ro)

for i in Trafico_ro_ro_Junio:
    Trafico_ro_ro.append(i)
len(Trafico_ro_ro)

for i in Trafico_ro_ro_Julio:
    Trafico_ro_ro.append(i)
len(Trafico_ro_ro)

for i in Trafico_ro_ro_Agosto:
    Trafico_ro_ro.append(i)
len(Trafico_ro_ro)

for i in Trafico_ro_ro_Septiembre:
    Trafico_ro_ro.append(i)
len(Trafico_ro_ro)

for i in Trafico_ro_ro_Octubre:
    Trafico_ro_ro.append(i)
len(Trafico_ro_ro)

for i in Trafico_ro_ro_Noviembre:
    Trafico_ro_ro.append(i)
len(Trafico_ro_ro)

for i in Trafico_ro_ro_Diciembre:
    Trafico_ro_ro.append(i)
len(Trafico_ro_ro)

336

In [70]:
df_listo['Tráfico Ro-Ro t'] = Trafico_ro_ro

## UTIS Ro-Ro

In [71]:
UTIS_ro_ro = df['Enero_2022 UTIS Ro-Ro']

In [72]:
UTIS_ro_ro_Febrero = df['Febrero_2022 UTIS Ro-Ro']
UTIS_ro_ro_Marzo = df['Marzo_2022 UTIS Ro-Ro']
UTIS_ro_ro_Abril = df['Abril_2022 UTIS Ro-Ro']
UTIS_ro_ro_Mayo = df['Mayo_2022 UTIS Ro-Ro']
UTIS_ro_ro_Junio = df['Junio_2022 UTIS Ro-Ro']
UTIS_ro_ro_Julio = df['Julio_2022 UTIS Ro-Ro']
UTIS_ro_ro_Agosto = df['Agosto_2022 UTIS Ro-Ro']
UTIS_ro_ro_Septiembre = df['Septiembre_2022 UTIS Ro-Ro']
UTIS_ro_ro_Octubre = df['Octubre_2022 UTIS Ro-Ro']
UTIS_ro_ro_Noviembre = df['Noviembre_2022 UTIS Ro-Ro']
UTIS_ro_ro_Diciembre = df['Diciembre_2022 UTIS Ro-Ro']

In [73]:
UTIS_ro_ro = UTIS_ro_ro.tolist()
UTIS_ro_ro_Febrero = UTIS_ro_ro_Febrero.tolist()
UTIS_ro_ro_Marzo = UTIS_ro_ro_Marzo.tolist()
UTIS_ro_ro_Abril = UTIS_ro_ro_Abril.tolist()
UTIS_ro_ro_Mayo = UTIS_ro_ro_Mayo.tolist()
UTIS_ro_ro_Junio = UTIS_ro_ro_Junio.tolist()
UTIS_ro_ro_Julio = UTIS_ro_ro_Julio.tolist()
UTIS_ro_ro_Agosto = UTIS_ro_ro_Agosto.tolist()
UTIS_ro_ro_Septiembre = UTIS_ro_ro_Septiembre.tolist()
UTIS_ro_ro_Octubre = UTIS_ro_ro_Octubre.tolist()
UTIS_ro_ro_Noviembre = UTIS_ro_ro_Noviembre.tolist()
UTIS_ro_ro_Diciembre = UTIS_ro_ro_Diciembre.tolist()

In [74]:
for i in UTIS_ro_ro_Febrero:
    UTIS_ro_ro.append(i)
len(UTIS_ro_ro)

for i in UTIS_ro_ro_Marzo:
    UTIS_ro_ro.append(i)
len(UTIS_ro_ro)

for i in UTIS_ro_ro_Abril:
    UTIS_ro_ro.append(i)
len(UTIS_ro_ro)

for i in UTIS_ro_ro_Mayo:
    UTIS_ro_ro.append(i)
len(UTIS_ro_ro)

for i in UTIS_ro_ro_Junio:
    UTIS_ro_ro.append(i)
len(UTIS_ro_ro)

for i in UTIS_ro_ro_Julio:
    UTIS_ro_ro.append(i)
len(UTIS_ro_ro)

for i in UTIS_ro_ro_Agosto:
    UTIS_ro_ro.append(i)
len(UTIS_ro_ro)

for i in UTIS_ro_ro_Septiembre:
    UTIS_ro_ro.append(i)
len(UTIS_ro_ro)

for i in UTIS_ro_ro_Octubre:
    UTIS_ro_ro.append(i)
len(UTIS_ro_ro)

for i in UTIS_ro_ro_Noviembre:
    UTIS_ro_ro.append(i)
len(UTIS_ro_ro)

for i in UTIS_ro_ro_Diciembre:
    UTIS_ro_ro.append(i)
len(UTIS_ro_ro)

336

In [75]:
df_listo['UTIS Ro-Ro'] = UTIS_ro_ro

## TEUS Contenedores

In [76]:
TEUS_contenedores = df['Enero_2022 TEUS Contenedores']

In [77]:
TEUS_contenedores_Febrero = df['Febrero_2022 TEUS Contenedores']
TEUS_contenedores_Marzo = df['Marzo_2022 TEUS Contenedores']
TEUS_contenedores_Abril = df['Abril_2022 TEUS Contenedores']
TEUS_contenedores_Mayo = df['Mayo_2022 TEUS Contenedores']
TEUS_contenedores_Junio = df['Junio_2022 TEUS Contenedores']
TEUS_contenedores_Julio = df['Julio_2022 TEUS Contenedores']
TEUS_contenedores_Agosto = df['Agosto_2022 TEUS Contenedores']
TEUS_contenedores_Septiembre = df['Septiembre_2022 TEUS Contenedores']
TEUS_contenedores_Octubre = df['Octubre_2022 TEUS Contenedores']
TEUS_contenedores_Noviembre = df['Noviembre_2022 TEUS Contenedores']
TEUS_contenedores_Diciembre = df['Diciembre_2022 TEUS Contenedores']

In [78]:
TEUS_contenedores = TEUS_contenedores.tolist()
TEUS_contenedores_Febrero = TEUS_contenedores_Febrero.tolist()
TEUS_contenedores_Marzo = TEUS_contenedores_Marzo.tolist()
TEUS_contenedores_Abril = TEUS_contenedores_Abril.tolist()
TEUS_contenedores_Mayo = TEUS_contenedores_Mayo.tolist()
TEUS_contenedores_Junio = TEUS_contenedores_Junio.tolist()
TEUS_contenedores_Julio = TEUS_contenedores_Julio.tolist()
TEUS_contenedores_Agosto = TEUS_contenedores_Agosto.tolist()
TEUS_contenedores_Septiembre = TEUS_contenedores_Septiembre.tolist()
TEUS_contenedores_Octubre = TEUS_contenedores_Octubre.tolist()
TEUS_contenedores_Noviembre = TEUS_contenedores_Noviembre.tolist()
TEUS_contenedores_Diciembre = TEUS_contenedores_Diciembre.tolist()

In [79]:
for i in TEUS_contenedores_Febrero:
    TEUS_contenedores.append(i)
len(TEUS_contenedores)

for i in TEUS_contenedores_Marzo:
    TEUS_contenedores.append(i)
len(TEUS_contenedores)

for i in TEUS_contenedores_Abril:
    TEUS_contenedores.append(i)
len(TEUS_contenedores)

for i in TEUS_contenedores_Mayo:
    TEUS_contenedores.append(i)
len(TEUS_contenedores)

for i in TEUS_contenedores_Junio:
    TEUS_contenedores.append(i)
len(TEUS_contenedores)

for i in TEUS_contenedores_Julio:
    TEUS_contenedores.append(i)
len(TEUS_contenedores)

for i in TEUS_contenedores_Agosto:
    TEUS_contenedores.append(i)
len(TEUS_contenedores)

for i in TEUS_contenedores_Septiembre:
    TEUS_contenedores.append(i)
len(TEUS_contenedores)

for i in TEUS_contenedores_Octubre:
    TEUS_contenedores.append(i)
len(TEUS_contenedores)

for i in TEUS_contenedores_Noviembre:
    TEUS_contenedores.append(i)
len(TEUS_contenedores)

for i in TEUS_contenedores_Diciembre:
    TEUS_contenedores.append(i)
len(TEUS_contenedores)

336

In [80]:
df_listo['TEUS Contenedores'] = TEUS_contenedores

In [81]:
df_listo.tail()

,Meses,Autoridad_Portuaria,Graneles Líquidos t,Graneles Sólidos t,Mercancía General t,Mercancia General Contenedores t,Pesca t,Avituallamiento t,Avituallamiento De Combustibles Líquidos t,Tráfico Interior t,Mercancías En Tránsito t,Mercancías En Tránsito En Contenedores t,Tráfico Ro-Ro t,UTIS Ro-Ro,TEUS Contenedores
331,Diciembre_2022,Sevilla,51969,182749,127179,86066,0.000,2116,1228,0,0,0,14138,729,12514.50
332,Diciembre_2022,Tarragona,1543352,796007,128277,34074,127.699,10591,5368,4987,279930,2929,19018,0,4666.00
333,Diciembre_2022,Valencia,449252,105512,5042300,3979226,58.746,36692,30085,0,2129238,2097188,912796,31764,351427.00
334,Diciembre_2022,Vigo,0,17530,340798,206317,3070.354,12944,7347,0,13215,8328,97691,886,18914.00
335,Diciembre_2022,Vilagarcía,8804,38928,48614,20839,0.000,526,125,0,0,0,0,0,2239.75

## TEUS Contenedores En Tránsito

In [82]:
TEUS_contenedores_en_transito = df['Enero_2022 TEUS Contenedores En Tránsito']

In [83]:
TEUS_contenedores_en_transito_Febrero = df['Febrero_2022 TEUS Contenedores En Tránsito']
TEUS_contenedores_en_transito_Marzo = df['Marzo_2022 TEUS Contenedores En Tránsito']
TEUS_contenedores_en_transito_Abril = df['Abril_2022 TEUS Contenedores En Tránsito']
TEUS_contenedores_en_transito_Mayo = df['Mayo_2022 TEUS Contenedores En Tránsito']
TEUS_contenedores_en_transito_Junio = df['Junio_2022 TEUS Contenedores En Tránsito']
TEUS_contenedores_en_transito_Julio = df['Julio_2022 TEUS Contenedores En Tránsito']
TEUS_contenedores_en_transito_Agosto = df['Agosto_2022 TEUS Contenedores En Tránsito']
TEUS_contenedores_en_transito_Septiembre = df['Septiembre_2022 TEUS Contenedores En Tránsito']
TEUS_contenedores_en_transito_Octubre = df['Octubre_2022 TEUS Contenedores En Tránsito']
TEUS_contenedores_en_transito_Noviembre = df['Noviembre_2022 TEUS Contenedores En Tránsito']
TEUS_contenedores_en_transito_Diciembre = df['Diciembre_2022 TEUS Contenedores En Tránsito']

In [84]:
TEUS_contenedores_en_transito = TEUS_contenedores_en_transito.tolist()
TEUS_contenedores_en_transito_Febrero = TEUS_contenedores_en_transito_Febrero.tolist()
TEUS_contenedores_en_transito_Marzo = TEUS_contenedores_en_transito_Marzo.tolist()
TEUS_contenedores_en_transito_Abril = TEUS_contenedores_en_transito_Abril.tolist()
TEUS_contenedores_en_transito_Mayo = TEUS_contenedores_en_transito_Mayo.tolist()
TEUS_contenedores_en_transito_Junio = TEUS_contenedores_en_transito_Junio.tolist()
TEUS_contenedores_en_transito_Julio = TEUS_contenedores_en_transito_Julio.tolist()
TEUS_contenedores_en_transito_Agosto = TEUS_contenedores_en_transito_Agosto.tolist()
TEUS_contenedores_en_transito_Septiembre = TEUS_contenedores_en_transito_Septiembre.tolist()
TEUS_contenedores_en_transito_Octubre = TEUS_contenedores_en_transito_Octubre.tolist()
TEUS_contenedores_en_transito_Noviembre = TEUS_contenedores_en_transito_Noviembre.tolist()
TEUS_contenedores_en_transito_Diciembre = TEUS_contenedores_en_transito_Diciembre.tolist()

In [85]:
for i in TEUS_contenedores_en_transito_Febrero:
    TEUS_contenedores_en_transito.append(i)
len(TEUS_contenedores_en_transito)

for i in TEUS_contenedores_en_transito_Marzo:
    TEUS_contenedores_en_transito.append(i)
len(TEUS_contenedores_en_transito)

for i in TEUS_contenedores_en_transito_Abril:
    TEUS_contenedores_en_transito.append(i)
len(TEUS_contenedores_en_transito)

for i in TEUS_contenedores_en_transito_Mayo:
    TEUS_contenedores_en_transito.append(i)
len(TEUS_contenedores_en_transito)

for i in TEUS_contenedores_en_transito_Junio:
    TEUS_contenedores_en_transito.append(i)
len(TEUS_contenedores_en_transito)

for i in TEUS_contenedores_en_transito_Julio:
    TEUS_contenedores_en_transito.append(i)
len(TEUS_contenedores_en_transito)

for i in TEUS_contenedores_en_transito_Agosto:
    TEUS_contenedores_en_transito.append(i)
len(TEUS_contenedores_en_transito)

for i in TEUS_contenedores_en_transito_Septiembre:
    TEUS_contenedores_en_transito.append(i)
len(TEUS_contenedores_en_transito)

for i in TEUS_contenedores_en_transito_Octubre:
    TEUS_contenedores_en_transito.append(i)
len(TEUS_contenedores_en_transito)

for i in TEUS_contenedores_en_transito_Noviembre:
    TEUS_contenedores_en_transito.append(i)
len(TEUS_contenedores_en_transito)

for i in TEUS_contenedores_en_transito_Diciembre:
    TEUS_contenedores_en_transito.append(i)
len(TEUS_contenedores_en_transito)

336

In [86]:
df_listo['TEUS Contenedores En Tránsito'] = TEUS_contenedores_en_transito

## TEUS Contenedores Entrada-Salida Nacional

In [87]:
TEUS_contenedores_entrada_salida_nacional = df['Enero_2022 TEUS Contenedores Entrada-Salida Nacional']

In [88]:
TEUS_contenedores_entrada_salida_nacional_Febrero = df['Febrero_2022 TEUS Contenedores Entrada-Salida Nacional']
TEUS_contenedores_entrada_salida_nacional_Marzo = df['Marzo_2022 TEUS Contenedores Entrada-Salida Nacional']
TEUS_contenedores_entrada_salida_nacional_Abril = df['Abril_2022 TEUS Contenedores Entrada-Salida Nacional']
TEUS_contenedores_entrada_salida_nacional_Mayo = df['Mayo_2022 TEUS Contenedores Entrada-Salida Nacional']
TEUS_contenedores_entrada_salida_nacional_Junio = df['Junio_2022 TEUS Contenedores Entrada-Salida Nacional']
TEUS_contenedores_entrada_salida_nacional_Julio = df['Julio_2022 TEUS Contenedores Entrada-Salida Nacional']
TEUS_contenedores_entrada_salida_nacional_Agosto = df['Agosto_2022 TEUS Contenedores Entrada-Salida Nacional']
TEUS_contenedores_entrada_salida_nacional_Septiembre = df['Septiembre_2022 TEUS Contenedores Entrada-Salida Nacional']
TEUS_contenedores_entrada_salida_nacional_Octubre = df['Octubre_2022 TEUS Contenedores Entrada-Salida Nacional']
TEUS_contenedores_entrada_salida_nacional_Noviembre = df['Noviembre_2022 TEUS Contenedores Entrada-Salida Nacional']
TEUS_contenedores_entrada_salida_nacional_Diciembre = df['Diciembre_2022 TEUS Contenedores Entrada-Salida Nacional']

In [89]:
TEUS_contenedores_entrada_salida_nacional = TEUS_contenedores_entrada_salida_nacional.tolist()
TEUS_contenedores_entrada_salida_nacional_Febrero = TEUS_contenedores_entrada_salida_nacional_Febrero.tolist()
TEUS_contenedores_entrada_salida_nacional_Marzo = TEUS_contenedores_entrada_salida_nacional_Marzo.tolist()
TEUS_contenedores_entrada_salida_nacional_Abril = TEUS_contenedores_entrada_salida_nacional_Abril.tolist()
TEUS_contenedores_entrada_salida_nacional_Mayo = TEUS_contenedores_entrada_salida_nacional_Mayo.tolist()
TEUS_contenedores_entrada_salida_nacional_Junio = TEUS_contenedores_entrada_salida_nacional_Junio.tolist()
TEUS_contenedores_entrada_salida_nacional_Julio = TEUS_contenedores_entrada_salida_nacional_Julio.tolist()
TEUS_contenedores_entrada_salida_nacional_Agosto = TEUS_contenedores_entrada_salida_nacional_Agosto.tolist()
TEUS_contenedores_entrada_salida_nacional_Septiembre = TEUS_contenedores_entrada_salida_nacional_Septiembre.tolist()
TEUS_contenedores_entrada_salida_nacional_Octubre = TEUS_contenedores_entrada_salida_nacional_Octubre.tolist()
TEUS_contenedores_entrada_salida_nacional_Noviembre = TEUS_contenedores_entrada_salida_nacional_Noviembre.tolist()
TEUS_contenedores_entrada_salida_nacional_Diciembre = TEUS_contenedores_entrada_salida_nacional_Diciembre.tolist()

In [90]:
for i in TEUS_contenedores_entrada_salida_nacional_Febrero:
    TEUS_contenedores_entrada_salida_nacional.append(i)
len(TEUS_contenedores_entrada_salida_nacional)

for i in TEUS_contenedores_entrada_salida_nacional_Marzo:
    TEUS_contenedores_entrada_salida_nacional.append(i)
len(TEUS_contenedores_entrada_salida_nacional)

for i in TEUS_contenedores_entrada_salida_nacional_Abril:
    TEUS_contenedores_entrada_salida_nacional.append(i)
len(TEUS_contenedores_entrada_salida_nacional)

for i in TEUS_contenedores_entrada_salida_nacional_Mayo:
    TEUS_contenedores_entrada_salida_nacional.append(i)
len(TEUS_contenedores_entrada_salida_nacional)

for i in TEUS_contenedores_entrada_salida_nacional_Junio:
    TEUS_contenedores_entrada_salida_nacional.append(i)
len(TEUS_contenedores_entrada_salida_nacional)

for i in TEUS_contenedores_entrada_salida_nacional_Julio:
    TEUS_contenedores_entrada_salida_nacional.append(i)
len(TEUS_contenedores_entrada_salida_nacional)

for i in TEUS_contenedores_entrada_salida_nacional_Agosto:
    TEUS_contenedores_entrada_salida_nacional.append(i)
len(TEUS_contenedores_entrada_salida_nacional)

for i in TEUS_contenedores_entrada_salida_nacional_Septiembre:
    TEUS_contenedores_entrada_salida_nacional.append(i)
len(TEUS_contenedores_entrada_salida_nacional)

for i in TEUS_contenedores_entrada_salida_nacional_Octubre:
    TEUS_contenedores_entrada_salida_nacional.append(i)
len(TEUS_contenedores_entrada_salida_nacional)

for i in TEUS_contenedores_entrada_salida_nacional_Noviembre:
    TEUS_contenedores_entrada_salida_nacional.append(i)
len(TEUS_contenedores_entrada_salida_nacional)

for i in TEUS_contenedores_entrada_salida_nacional_Diciembre:
    TEUS_contenedores_entrada_salida_nacional.append(i)
len(TEUS_contenedores_entrada_salida_nacional)

336

In [91]:
df_listo['TEUS Contenedores Entrada-Salida Nacional'] = TEUS_contenedores_entrada_salida_nacional

## TEUS Contenedores Entrada-Salida Exterior

In [92]:
TEUS_contenedores_entrada_salida_exterior = df['Enero_2022 TEUS Contenedores Entrada-Salida Exterior']

In [93]:
TEUS_contenedores_entrada_salida_exterior_Febrero = df['Febrero_2022 TEUS Contenedores Entrada-Salida Exterior']
TEUS_contenedores_entrada_salida_exterior_Marzo = df['Marzo_2022 TEUS Contenedores Entrada-Salida Exterior']
TEUS_contenedores_entrada_salida_exterior_Abril = df['Abril_2022 TEUS Contenedores Entrada-Salida Exterior']
TEUS_contenedores_entrada_salida_exterior_Mayo = df['Mayo_2022 TEUS Contenedores Entrada-Salida Exterior']
TEUS_contenedores_entrada_salida_exterior_Junio = df['Junio_2022 TEUS Contenedores Entrada-Salida Exterior']
TEUS_contenedores_entrada_salida_exterior_Julio = df['Julio_2022 TEUS Contenedores Entrada-Salida Exterior']
TEUS_contenedores_entrada_salida_exterior_Agosto = df['Agosto_2022 TEUS Contenedores Entrada-Salida Exterior']
TEUS_contenedores_entrada_salida_exterior_Septiembre = df['Septiembre_2022 TEUS Contenedores Entrada-Salida Exterior']
TEUS_contenedores_entrada_salida_exterior_Octubre = df['Octubre_2022 TEUS Contenedores Entrada-Salida Exterior']
TEUS_contenedores_entrada_salida_exterior_Noviembre = df['Noviembre_2022 TEUS Contenedores Entrada-Salida Exterior']
TEUS_contenedores_entrada_salida_exterior_Diciembre = df['Diciembre_2022 TEUS Contenedores Entrada-Salida Exterior']

In [94]:
TEUS_contenedores_entrada_salida_exterior = TEUS_contenedores_entrada_salida_exterior.tolist()
TEUS_contenedores_entrada_salida_exterior_Febrero = TEUS_contenedores_entrada_salida_exterior_Febrero.tolist()
TEUS_contenedores_entrada_salida_exterior_Marzo = TEUS_contenedores_entrada_salida_exterior_Marzo.tolist()
TEUS_contenedores_entrada_salida_exterior_Abril = TEUS_contenedores_entrada_salida_exterior_Abril.tolist()
TEUS_contenedores_entrada_salida_exterior_Mayo = TEUS_contenedores_entrada_salida_exterior_Mayo.tolist()
TEUS_contenedores_entrada_salida_exterior_Junio = TEUS_contenedores_entrada_salida_exterior_Junio.tolist()
TEUS_contenedores_entrada_salida_exterior_Julio = TEUS_contenedores_entrada_salida_exterior_Julio.tolist()
TEUS_contenedores_entrada_salida_exterior_Agosto = TEUS_contenedores_entrada_salida_exterior_Agosto.tolist()
TEUS_contenedores_entrada_salida_exterior_Septiembre = TEUS_contenedores_entrada_salida_exterior_Septiembre.tolist()
TEUS_contenedores_entrada_salida_exterior_Octubre = TEUS_contenedores_entrada_salida_exterior_Octubre.tolist()
TEUS_contenedores_entrada_salida_exterior_Noviembre = TEUS_contenedores_entrada_salida_exterior_Noviembre.tolist()
TEUS_contenedores_entrada_salida_exterior_Diciembre = TEUS_contenedores_entrada_salida_exterior_Diciembre.tolist()

In [95]:
for i in TEUS_contenedores_entrada_salida_exterior_Febrero:
    TEUS_contenedores_entrada_salida_exterior.append(i)
len(TEUS_contenedores_entrada_salida_exterior)

for i in TEUS_contenedores_entrada_salida_exterior_Marzo:
    TEUS_contenedores_entrada_salida_exterior.append(i)
len(TEUS_contenedores_entrada_salida_exterior)

for i in TEUS_contenedores_entrada_salida_exterior_Abril:
    TEUS_contenedores_entrada_salida_exterior.append(i)
len(TEUS_contenedores_entrada_salida_exterior)

for i in TEUS_contenedores_entrada_salida_exterior_Mayo:
    TEUS_contenedores_entrada_salida_exterior.append(i)
len(TEUS_contenedores_entrada_salida_exterior)

for i in TEUS_contenedores_entrada_salida_exterior_Junio:
    TEUS_contenedores_entrada_salida_exterior.append(i)
len(TEUS_contenedores_entrada_salida_exterior)

for i in TEUS_contenedores_entrada_salida_exterior_Julio:
    TEUS_contenedores_entrada_salida_exterior.append(i)
len(TEUS_contenedores_entrada_salida_exterior)

for i in TEUS_contenedores_entrada_salida_exterior_Agosto:
    TEUS_contenedores_entrada_salida_exterior.append(i)
len(TEUS_contenedores_entrada_salida_exterior)

for i in TEUS_contenedores_entrada_salida_exterior_Septiembre:
    TEUS_contenedores_entrada_salida_exterior.append(i)
len(TEUS_contenedores_entrada_salida_exterior)

for i in TEUS_contenedores_entrada_salida_exterior_Octubre:
    TEUS_contenedores_entrada_salida_exterior.append(i)
len(TEUS_contenedores_entrada_salida_exterior)

for i in TEUS_contenedores_entrada_salida_exterior_Noviembre:
    TEUS_contenedores_entrada_salida_exterior.append(i)
len(TEUS_contenedores_entrada_salida_exterior)

for i in TEUS_contenedores_entrada_salida_exterior_Diciembre:
    TEUS_contenedores_entrada_salida_exterior.append(i)
len(TEUS_contenedores_entrada_salida_exterior)

336

In [96]:
df_listo['TEUS Contenedores Entrada-Salida Exterior'] = TEUS_contenedores_entrada_salida_exterior

## Unidades Buques Mercantes

In [97]:
Unidades_buques_mercantes = df['Enero_2022 Unidades Buques Mercantes']

In [98]:
Unidades_buques_mercantes_Febrero = df['Febrero_2022 Unidades Buques Mercantes']
Unidades_buques_mercantes_Marzo = df['Marzo_2022 Unidades Buques Mercantes']
Unidades_buques_mercantes_Abril = df['Abril_2022 Unidades Buques Mercantes']
Unidades_buques_mercantes_Mayo = df['Mayo_2022 Unidades Buques Mercantes']
Unidades_buques_mercantes_Junio = df['Junio_2022 Unidades Buques Mercantes']
Unidades_buques_mercantes_Julio = df['Julio_2022 Unidades Buques Mercantes']
Unidades_buques_mercantes_Agosto = df['Agosto_2022 Unidades Buques Mercantes']
Unidades_buques_mercantes_Septiembre = df['Septiembre_2022 Unidades Buques Mercantes']
Unidades_buques_mercantes_Octubre = df['Octubre_2022 Unidades Buques Mercantes']
Unidades_buques_mercantes_Noviembre = df['Noviembre_2022 Unidades Buques Mercantes']
Unidades_buques_mercantes_Diciembre = df['Diciembre_2022 Unidades Buques Mercantes']

In [99]:
Unidades_buques_mercantes = Unidades_buques_mercantes.tolist()
Unidades_buques_mercantes_Febrero = Unidades_buques_mercantes_Febrero.tolist()
Unidades_buques_mercantes_Marzo = Unidades_buques_mercantes_Marzo.tolist()
Unidades_buques_mercantes_Abril = Unidades_buques_mercantes_Abril.tolist()
Unidades_buques_mercantes_Mayo = Unidades_buques_mercantes_Mayo.tolist()
Unidades_buques_mercantes_Junio = Unidades_buques_mercantes_Junio.tolist()
Unidades_buques_mercantes_Julio = Unidades_buques_mercantes_Julio.tolist()
Unidades_buques_mercantes_Agosto = Unidades_buques_mercantes_Agosto.tolist()
Unidades_buques_mercantes_Septiembre = Unidades_buques_mercantes_Septiembre.tolist()
Unidades_buques_mercantes_Octubre = Unidades_buques_mercantes_Octubre.tolist()
Unidades_buques_mercantes_Noviembre = Unidades_buques_mercantes_Noviembre.tolist()
Unidades_buques_mercantes_Diciembre = Unidades_buques_mercantes_Diciembre.tolist()

In [100]:
for i in Unidades_buques_mercantes_Febrero:
    Unidades_buques_mercantes.append(i)
len(Unidades_buques_mercantes)

for i in Unidades_buques_mercantes_Marzo:
    Unidades_buques_mercantes.append(i)
len(Unidades_buques_mercantes)

for i in Unidades_buques_mercantes_Abril:
    Unidades_buques_mercantes.append(i)
len(Unidades_buques_mercantes)

for i in Unidades_buques_mercantes_Mayo:
    Unidades_buques_mercantes.append(i)
len(Unidades_buques_mercantes)

for i in Unidades_buques_mercantes_Junio:
    Unidades_buques_mercantes.append(i)
len(Unidades_buques_mercantes)

for i in Unidades_buques_mercantes_Julio:
    Unidades_buques_mercantes.append(i)
len(Unidades_buques_mercantes)

for i in Unidades_buques_mercantes_Agosto:
    Unidades_buques_mercantes.append(i)
len(Unidades_buques_mercantes)

for i in Unidades_buques_mercantes_Septiembre:
    Unidades_buques_mercantes.append(i)
len(Unidades_buques_mercantes)

for i in Unidades_buques_mercantes_Octubre:
    Unidades_buques_mercantes.append(i)
len(Unidades_buques_mercantes)

for i in Unidades_buques_mercantes_Noviembre:
    Unidades_buques_mercantes.append(i)
len(Unidades_buques_mercantes)

for i in Unidades_buques_mercantes_Diciembre:
    Unidades_buques_mercantes.append(i)
len(Unidades_buques_mercantes)

336

In [101]:
df_listo['Unidades Buques Mercantes'] = Unidades_buques_mercantes

## G.T. Buques Mercantes

In [102]:
G_T_buques_mercantes = df['Enero_2022 G.T. Buques Mercantes']

In [103]:
G_T_buques_mercantes_Febrero = df['Febrero_2022 G.T. Buques Mercantes']
G_T_buques_mercantes_Marzo = df['Marzo_2022 G.T. Buques Mercantes']
G_T_buques_mercantes_Abril = df['Abril_2022 G.T. Buques Mercantes']
G_T_buques_mercantes_Mayo = df['Mayo_2022 G.T. Buques Mercantes']
G_T_buques_mercantes_Junio = df['Junio_2022 G.T. Buques Mercantes']
G_T_buques_mercantes_Julio = df['Julio_2022 G.T. Buques Mercantes']
G_T_buques_mercantes_Agosto = df['Agosto_2022 G.T. Buques Mercantes']
G_T_buques_mercantes_Septiembre = df['Septiembre_2022 G.T. Buques Mercantes']
G_T_buques_mercantes_Octubre = df['Octubre_2022 G.T. Buques Mercantes']
G_T_buques_mercantes_Noviembre = df['Noviembre_2022 G.T. Buques Mercantes']
G_T_buques_mercantes_Diciembre = df['Diciembre_2022 G.T. Buques Mercantes']

In [104]:
G_T_buques_mercantes = G_T_buques_mercantes.tolist()
G_T_buques_mercantes_Febrero = G_T_buques_mercantes_Febrero.tolist()
G_T_buques_mercantes_Marzo = G_T_buques_mercantes_Marzo.tolist()
G_T_buques_mercantes_Abril = G_T_buques_mercantes_Abril.tolist()
G_T_buques_mercantes_Mayo = G_T_buques_mercantes_Mayo.tolist()
G_T_buques_mercantes_Junio = G_T_buques_mercantes_Junio.tolist()
G_T_buques_mercantes_Julio = G_T_buques_mercantes_Julio.tolist()
G_T_buques_mercantes_Agosto = G_T_buques_mercantes_Agosto.tolist()
G_T_buques_mercantes_Septiembre = G_T_buques_mercantes_Septiembre.tolist()
G_T_buques_mercantes_Octubre = G_T_buques_mercantes_Octubre.tolist()
G_T_buques_mercantes_Noviembre = G_T_buques_mercantes_Noviembre.tolist()
G_T_buques_mercantes_Diciembre = G_T_buques_mercantes_Diciembre.tolist()

In [105]:
for i in G_T_buques_mercantes_Febrero:
    G_T_buques_mercantes.append(i)
len(G_T_buques_mercantes)

for i in G_T_buques_mercantes_Marzo:
    G_T_buques_mercantes.append(i)
len(G_T_buques_mercantes)

for i in G_T_buques_mercantes_Abril:
    G_T_buques_mercantes.append(i)
len(G_T_buques_mercantes)

for i in G_T_buques_mercantes_Mayo:
    G_T_buques_mercantes.append(i)
len(G_T_buques_mercantes)

for i in G_T_buques_mercantes_Junio:
    G_T_buques_mercantes.append(i)
len(G_T_buques_mercantes)

for i in G_T_buques_mercantes_Julio:
    G_T_buques_mercantes.append(i)
len(G_T_buques_mercantes)

for i in G_T_buques_mercantes_Agosto:
    G_T_buques_mercantes.append(i)
len(G_T_buques_mercantes)

for i in G_T_buques_mercantes_Septiembre:
    G_T_buques_mercantes.append(i)
len(G_T_buques_mercantes)

for i in G_T_buques_mercantes_Octubre:
    G_T_buques_mercantes.append(i)
len(G_T_buques_mercantes)

for i in G_T_buques_mercantes_Noviembre:
    G_T_buques_mercantes.append(i)
len(G_T_buques_mercantes)

for i in G_T_buques_mercantes_Diciembre:
    G_T_buques_mercantes.append(i)
len(G_T_buques_mercantes)

336

In [106]:
df_listo['G.T. Buques Mercantes'] = G_T_buques_mercantes

## Unidades Buques De Crucero

In [107]:
Unidades_buques_crucero = df['Enero_2022 Unidades Buques De Crucero']

In [108]:
Unidades_buques_crucero_Febrero = df['Febrero_2022 Unidades Buques De Crucero']
Unidades_buques_crucero_Marzo = df['Marzo_2022 Unidades Buques De Crucero']
Unidades_buques_crucero_Abril = df['Abril_2022 Unidades Buques De Crucero']
Unidades_buques_crucero_Mayo = df['Mayo_2022 Unidades Buques De Crucero']
Unidades_buques_crucero_Junio = df['Junio_2022 Unidades Buques De Crucero']
Unidades_buques_crucero_Julio = df['Julio_2022 Unidades Buques De Crucero']
Unidades_buques_crucero_Agosto = df['Agosto_2022 Unidades Buques De Crucero']
Unidades_buques_crucero_Septiembre = df['Septiembre_2022 Unidades Buques De Crucero']
Unidades_buques_crucero_Octubre = df['Octubre_2022 Unidades Buques De Crucero']
Unidades_buques_crucero_Noviembre = df['Noviembre_2022 Unidades Buques De Crucero']
Unidades_buques_crucero_Diciembre = df['Diciembre_2022 Unidades Buques De Crucero']

In [109]:
Unidades_buques_crucero = Unidades_buques_crucero.tolist()
Unidades_buques_crucero_Febrero = Unidades_buques_crucero_Febrero.tolist()
Unidades_buques_crucero_Marzo = Unidades_buques_crucero_Marzo.tolist()
Unidades_buques_crucero_Abril = Unidades_buques_crucero_Abril.tolist()
Unidades_buques_crucero_Mayo = Unidades_buques_crucero_Mayo.tolist()
Unidades_buques_crucero_Junio = Unidades_buques_crucero_Junio.tolist()
Unidades_buques_crucero_Julio = Unidades_buques_crucero_Julio.tolist()
Unidades_buques_crucero_Agosto = Unidades_buques_crucero_Agosto.tolist()
Unidades_buques_crucero_Septiembre = Unidades_buques_crucero_Septiembre.tolist()
Unidades_buques_crucero_Octubre = Unidades_buques_crucero_Octubre.tolist()
Unidades_buques_crucero_Noviembre = Unidades_buques_crucero_Noviembre.tolist()
Unidades_buques_crucero_Diciembre = Unidades_buques_crucero_Diciembre.tolist()

In [110]:
for i in Unidades_buques_crucero_Febrero:
    Unidades_buques_crucero.append(i)
len(Unidades_buques_crucero)

for i in Unidades_buques_crucero_Marzo:
    Unidades_buques_crucero.append(i)
len(Unidades_buques_crucero)

for i in Unidades_buques_crucero_Abril:
    Unidades_buques_crucero.append(i)
len(Unidades_buques_crucero)

for i in Unidades_buques_crucero_Mayo:
    Unidades_buques_crucero.append(i)
len(Unidades_buques_crucero)

for i in Unidades_buques_crucero_Junio:
    Unidades_buques_crucero.append(i)
len(Unidades_buques_crucero)

for i in Unidades_buques_crucero_Julio:
    Unidades_buques_crucero.append(i)
len(Unidades_buques_crucero)

for i in Unidades_buques_crucero_Agosto:
    Unidades_buques_crucero.append(i)
len(Unidades_buques_crucero)

for i in Unidades_buques_crucero_Septiembre:
    Unidades_buques_crucero.append(i)
len(Unidades_buques_crucero)

for i in Unidades_buques_crucero_Octubre:
    Unidades_buques_crucero.append(i)
len(Unidades_buques_crucero)

for i in Unidades_buques_crucero_Noviembre:
    Unidades_buques_crucero.append(i)
len(Unidades_buques_crucero)

for i in Unidades_buques_crucero_Diciembre:
    Unidades_buques_crucero.append(i)
len(Unidades_buques_crucero)

336

In [111]:
df_listo['Unidades Buques De Crucero'] = Unidades_buques_crucero

## Pasajeros En Régimen De Transporte Y De Crucero

In [112]:
Pasajeros_regimen_transporte_crucero = df['Enero_2022 Pasajeros En Régimen De Transporte Y De Crucero']

In [113]:
Pasajeros_regimen_transporte_crucero_Febrero = df['Febrero_2022 Pasajeros En Régimen De Transporte Y De Crucero']
Pasajeros_regimen_transporte_crucero_Marzo = df['Marzo_2022 Pasajeros En Régimen De Transporte Y De Crucero']
Pasajeros_regimen_transporte_crucero_Abril = df['Abril_2022 Pasajeros En Régimen De Transporte Y De Crucero']
Pasajeros_regimen_transporte_crucero_Mayo = df['Mayo_2022 Pasajeros En Régimen De Transporte Y De Crucero']
Pasajeros_regimen_transporte_crucero_Junio = df['Junio_2022 Pasajeros En Régimen De Transporte Y De Crucero']
Pasajeros_regimen_transporte_crucero_Julio = df['Julio_2022 Pasajeros En Régimen De Transporte Y De Crucero']
Pasajeros_regimen_transporte_crucero_Agosto = df['Agosto_2022 Pasajeros En Régimen De Transporte Y De Crucero']
Pasajeros_regimen_transporte_crucero_Septiembre = df['Septiembre_2022 Pasajeros En Régimen De Transporte Y De Crucero']
Pasajeros_regimen_transporte_crucero_Octubre = df['Octubre_2022 Pasajeros En Régimen De Transporte Y De Crucero']
Pasajeros_regimen_transporte_crucero_Noviembre = df['Noviembre_2022 Pasajeros En Régimen De Transporte Y De Crucero']
Pasajeros_regimen_transporte_crucero_Diciembre = df['Diciembre_2022 Pasajeros En Régimen De Transporte Y De Crucero']

In [114]:
Pasajeros_regimen_transporte_crucero = Pasajeros_regimen_transporte_crucero.tolist()
Pasajeros_regimen_transporte_crucero_Febrero = Pasajeros_regimen_transporte_crucero_Febrero.tolist()
Pasajeros_regimen_transporte_crucero_Marzo = Pasajeros_regimen_transporte_crucero_Marzo.tolist()
Pasajeros_regimen_transporte_crucero_Abril = Pasajeros_regimen_transporte_crucero_Abril.tolist()
Pasajeros_regimen_transporte_crucero_Mayo = Pasajeros_regimen_transporte_crucero_Mayo.tolist()
Pasajeros_regimen_transporte_crucero_Junio = Pasajeros_regimen_transporte_crucero_Junio.tolist()
Pasajeros_regimen_transporte_crucero_Julio = Pasajeros_regimen_transporte_crucero_Julio.tolist()
Pasajeros_regimen_transporte_crucero_Agosto = Pasajeros_regimen_transporte_crucero_Agosto.tolist()
Pasajeros_regimen_transporte_crucero_Septiembre = Pasajeros_regimen_transporte_crucero_Septiembre.tolist()
Pasajeros_regimen_transporte_crucero_Octubre = Pasajeros_regimen_transporte_crucero_Octubre.tolist()
Pasajeros_regimen_transporte_crucero_Noviembre = Pasajeros_regimen_transporte_crucero_Noviembre.tolist()
Pasajeros_regimen_transporte_crucero_Diciembre = Pasajeros_regimen_transporte_crucero_Diciembre.tolist()

In [115]:
for i in Pasajeros_regimen_transporte_crucero_Febrero:
    Pasajeros_regimen_transporte_crucero.append(i)
len(Pasajeros_regimen_transporte_crucero)

for i in Pasajeros_regimen_transporte_crucero_Marzo:
    Pasajeros_regimen_transporte_crucero.append(i)
len(Pasajeros_regimen_transporte_crucero)

for i in Pasajeros_regimen_transporte_crucero_Abril:
    Pasajeros_regimen_transporte_crucero.append(i)
len(Pasajeros_regimen_transporte_crucero)

for i in Pasajeros_regimen_transporte_crucero_Mayo:
    Pasajeros_regimen_transporte_crucero.append(i)
len(Pasajeros_regimen_transporte_crucero)

for i in Pasajeros_regimen_transporte_crucero_Junio:
    Pasajeros_regimen_transporte_crucero.append(i)
len(Pasajeros_regimen_transporte_crucero)

for i in Pasajeros_regimen_transporte_crucero_Julio:
    Pasajeros_regimen_transporte_crucero.append(i)
len(Pasajeros_regimen_transporte_crucero)

for i in Pasajeros_regimen_transporte_crucero_Agosto:
    Pasajeros_regimen_transporte_crucero.append(i)
len(Pasajeros_regimen_transporte_crucero)

for i in Pasajeros_regimen_transporte_crucero_Septiembre:
    Pasajeros_regimen_transporte_crucero.append(i)
len(Pasajeros_regimen_transporte_crucero)

for i in Pasajeros_regimen_transporte_crucero_Octubre:
    Pasajeros_regimen_transporte_crucero.append(i)
len(Pasajeros_regimen_transporte_crucero)

for i in Pasajeros_regimen_transporte_crucero_Noviembre:
    Pasajeros_regimen_transporte_crucero.append(i)
len(Pasajeros_regimen_transporte_crucero)

for i in Pasajeros_regimen_transporte_crucero_Diciembre:
    Pasajeros_regimen_transporte_crucero.append(i)
len(Pasajeros_regimen_transporte_crucero)

336

In [116]:
df_listo['Pasajeros En Régimen De Transporte Y De Crucero'] = Pasajeros_regimen_transporte_crucero

## Pasajeros En Régimen De Transporte

In [117]:
Pasajeros_regimen_transporte = df['Enero_2022 Pasajeros En Régimen De Transporte']

In [118]:
Pasajeros_regimen_transporte_Febrero = df['Febrero_2022 Pasajeros En Régimen De Transporte']
Pasajeros_regimen_transporte_Marzo = df['Marzo_2022 Pasajeros En Régimen De Transporte']
Pasajeros_regimen_transporte_Abril = df['Abril_2022 Pasajeros En Régimen De Transporte']
Pasajeros_regimen_transporte_Mayo = df['Mayo_2022 Pasajeros En Régimen De Transporte']
Pasajeros_regimen_transporte_Junio = df['Junio_2022 Pasajeros En Régimen De Transporte']
Pasajeros_regimen_transporte_Julio = df['Julio_2022 Pasajeros En Régimen De Transporte']
Pasajeros_regimen_transporte_Agosto = df['Agosto_2022 Pasajeros En Régimen De Transporte']
Pasajeros_regimen_transporte_Septiembre = df['Septiembre_2022 Pasajeros En Régimen De Transporte']
Pasajeros_regimen_transporte_Octubre = df['Octubre_2022 Pasajeros En Régimen De Transporte']
Pasajeros_regimen_transporte_Noviembre = df['Noviembre_2022 Pasajeros En Régimen De Transporte']
Pasajeros_regimen_transporte_Diciembre = df['Diciembre_2022 Pasajeros En Régimen De Transporte']

In [119]:
Pasajeros_regimen_transporte = Pasajeros_regimen_transporte.tolist()
Pasajeros_regimen_transporte_Febrero = Pasajeros_regimen_transporte_Febrero.tolist()
Pasajeros_regimen_transporte_Marzo = Pasajeros_regimen_transporte_Marzo.tolist()
Pasajeros_regimen_transporte_Abril = Pasajeros_regimen_transporte_Abril.tolist()
Pasajeros_regimen_transporte_Mayo = Pasajeros_regimen_transporte_Mayo.tolist()
Pasajeros_regimen_transporte_Junio = Pasajeros_regimen_transporte_Junio.tolist()
Pasajeros_regimen_transporte_Julio = Pasajeros_regimen_transporte_Julio.tolist()
Pasajeros_regimen_transporte_Agosto = Pasajeros_regimen_transporte_Agosto.tolist()
Pasajeros_regimen_transporte_Septiembre = Pasajeros_regimen_transporte_Septiembre.tolist()
Pasajeros_regimen_transporte_Octubre = Pasajeros_regimen_transporte_Octubre.tolist()
Pasajeros_regimen_transporte_Noviembre = Pasajeros_regimen_transporte_Noviembre.tolist()
Pasajeros_regimen_transporte_Diciembre = Pasajeros_regimen_transporte_Diciembre.tolist()

In [120]:
for i in Pasajeros_regimen_transporte_Febrero:
    Pasajeros_regimen_transporte.append(i)
len(Pasajeros_regimen_transporte)

for i in Pasajeros_regimen_transporte_Marzo:
    Pasajeros_regimen_transporte.append(i)
len(Pasajeros_regimen_transporte)

for i in Pasajeros_regimen_transporte_Abril:
    Pasajeros_regimen_transporte.append(i)
len(Pasajeros_regimen_transporte)

for i in Pasajeros_regimen_transporte_Mayo:
    Pasajeros_regimen_transporte.append(i)
len(Pasajeros_regimen_transporte)

for i in Pasajeros_regimen_transporte_Junio:
    Pasajeros_regimen_transporte.append(i)
len(Pasajeros_regimen_transporte)

for i in Pasajeros_regimen_transporte_Julio:
    Pasajeros_regimen_transporte.append(i)
len(Pasajeros_regimen_transporte)

for i in Pasajeros_regimen_transporte_Agosto:
    Pasajeros_regimen_transporte.append(i)
len(Pasajeros_regimen_transporte)

for i in Pasajeros_regimen_transporte_Septiembre:
    Pasajeros_regimen_transporte.append(i)
len(Pasajeros_regimen_transporte)

for i in Pasajeros_regimen_transporte_Octubre:
    Pasajeros_regimen_transporte.append(i)
len(Pasajeros_regimen_transporte)

for i in Pasajeros_regimen_transporte_Noviembre:
    Pasajeros_regimen_transporte.append(i)
len(Pasajeros_regimen_transporte)

for i in Pasajeros_regimen_transporte_Diciembre:
    Pasajeros_regimen_transporte.append(i)
len(Pasajeros_regimen_transporte)

336

In [121]:
df_listo['Pasajeros En Régimen De Transporte'] = Pasajeros_regimen_transporte

## Pasajeros De Crucero

In [122]:
Pasajeros_crucero = df['Enero_2022 Pasajeros De Crucero']

In [123]:
Pasajeros_crucero_Febrero = df['Febrero_2022 Pasajeros De Crucero']
Pasajeros_crucero_Marzo = df['Marzo_2022 Pasajeros De Crucero']
Pasajeros_crucero_Abril = df['Abril_2022 Pasajeros De Crucero']
Pasajeros_crucero_Mayo = df['Mayo_2022 Pasajeros De Crucero']
Pasajeros_crucero_Junio = df['Junio_2022 Pasajeros De Crucero']
Pasajeros_crucero_Julio = df['Julio_2022 Pasajeros De Crucero']
Pasajeros_crucero_Agosto = df['Agosto_2022 Pasajeros De Crucero']
Pasajeros_crucero_Septiembre = df['Septiembre_2022 Pasajeros De Crucero']
Pasajeros_crucero_Octubre = df['Octubre_2022 Pasajeros De Crucero']
Pasajeros_crucero_Noviembre = df['Noviembre_2022 Pasajeros De Crucero']
Pasajeros_crucero_Diciembre = df['Diciembre_2022 Pasajeros De Crucero']

In [124]:
Pasajeros_crucero = Pasajeros_crucero.tolist()
Pasajeros_crucero_Febrero = Pasajeros_crucero_Febrero.tolist()
Pasajeros_crucero_Marzo = Pasajeros_crucero_Marzo.tolist()
Pasajeros_crucero_Abril = Pasajeros_crucero_Abril.tolist()
Pasajeros_crucero_Mayo = Pasajeros_crucero_Mayo.tolist()
Pasajeros_crucero_Junio = Pasajeros_crucero_Junio.tolist()
Pasajeros_crucero_Julio = Pasajeros_crucero_Julio.tolist()
Pasajeros_crucero_Agosto = Pasajeros_crucero_Agosto.tolist()
Pasajeros_crucero_Septiembre = Pasajeros_crucero_Septiembre.tolist()
Pasajeros_crucero_Octubre = Pasajeros_crucero_Octubre.tolist()
Pasajeros_crucero_Noviembre = Pasajeros_crucero_Noviembre.tolist()
Pasajeros_crucero_Diciembre = Pasajeros_crucero_Diciembre.tolist()

In [125]:
for i in Pasajeros_crucero_Febrero:
    Pasajeros_crucero.append(i)
len(Pasajeros_crucero)

for i in Pasajeros_crucero_Marzo:
    Pasajeros_crucero.append(i)
len(Pasajeros_crucero)

for i in Pasajeros_crucero_Abril:
    Pasajeros_crucero.append(i)
len(Pasajeros_crucero)

for i in Pasajeros_crucero_Mayo:
    Pasajeros_crucero.append(i)
len(Pasajeros_crucero)

for i in Pasajeros_crucero_Junio:
    Pasajeros_crucero.append(i)
len(Pasajeros_crucero)

for i in Pasajeros_crucero_Julio:
    Pasajeros_crucero.append(i)
len(Pasajeros_crucero)

for i in Pasajeros_crucero_Agosto:
    Pasajeros_crucero.append(i)
len(Pasajeros_crucero)

for i in Pasajeros_crucero_Septiembre:
    Pasajeros_crucero.append(i)
len(Pasajeros_crucero)

for i in Pasajeros_crucero_Octubre:
    Pasajeros_crucero.append(i)
len(Pasajeros_crucero)

for i in Pasajeros_crucero_Noviembre:
    Pasajeros_crucero.append(i)
len(Pasajeros_crucero)

for i in Pasajeros_crucero_Diciembre:
    Pasajeros_crucero.append(i)
len(Pasajeros_crucero)

336

In [126]:
df_listo['Pasajeros De Crucero'] = Pasajeros_crucero

## Automóviles En Régimen De Pasaje

In [127]:
automoviles_regimen_pasaje = df['Enero_2022 Automóviles En Régimen De Pasaje']

In [128]:
automoviles_regimen_pasaje_Febrero = df['Febrero_2022 Automóviles En Régimen De Pasaje']
automoviles_regimen_pasaje_Marzo = df['Marzo_2022 Automóviles En Régimen De Pasaje']
automoviles_regimen_pasaje_Abril = df['Abril_2022 Automóviles En Régimen De Pasaje']
automoviles_regimen_pasaje_Mayo = df['Mayo_2022 Automóviles En Régimen De Pasaje']
automoviles_regimen_pasaje_Junio = df['Junio_2022 Automóviles En Régimen De Pasaje']
automoviles_regimen_pasaje_Julio = df['Julio_2022 Automóviles En Régimen De Pasaje']
automoviles_regimen_pasaje_Agosto = df['Agosto_2022 Automóviles En Régimen De Pasaje']
automoviles_regimen_pasaje_Septiembre = df['Septiembre_2022 Automóviles En Régimen De Pasaje']
automoviles_regimen_pasaje_Octubre = df['Octubre_2022 Automóviles En Régimen De Pasaje']
automoviles_regimen_pasaje_Noviembre = df['Noviembre_2022 Automóviles En Régimen De Pasaje']
automoviles_regimen_pasaje_Diciembre = df['Diciembre_2022 Automóviles En Régimen De Pasaje']

In [129]:
automoviles_regimen_pasaje = automoviles_regimen_pasaje.tolist()
automoviles_regimen_pasaje_Febrero = automoviles_regimen_pasaje_Febrero.tolist()
automoviles_regimen_pasaje_Marzo = automoviles_regimen_pasaje_Marzo.tolist()
automoviles_regimen_pasaje_Abril = automoviles_regimen_pasaje_Abril.tolist()
automoviles_regimen_pasaje_Mayo = automoviles_regimen_pasaje_Mayo.tolist()
automoviles_regimen_pasaje_Junio = automoviles_regimen_pasaje_Junio.tolist()
automoviles_regimen_pasaje_Julio = automoviles_regimen_pasaje_Julio.tolist()
automoviles_regimen_pasaje_Agosto = automoviles_regimen_pasaje_Agosto.tolist()
automoviles_regimen_pasaje_Septiembre = automoviles_regimen_pasaje_Septiembre.tolist()
automoviles_regimen_pasaje_Octubre = automoviles_regimen_pasaje_Octubre.tolist()
automoviles_regimen_pasaje_Noviembre = automoviles_regimen_pasaje_Noviembre.tolist()
automoviles_regimen_pasaje_Diciembre = automoviles_regimen_pasaje_Diciembre.tolist()

In [130]:
for i in automoviles_regimen_pasaje_Febrero:
    automoviles_regimen_pasaje.append(i)
len(automoviles_regimen_pasaje)

for i in automoviles_regimen_pasaje_Marzo:
    automoviles_regimen_pasaje.append(i)
len(automoviles_regimen_pasaje)

for i in automoviles_regimen_pasaje_Abril:
    automoviles_regimen_pasaje.append(i)
len(automoviles_regimen_pasaje)

for i in automoviles_regimen_pasaje_Mayo:
    automoviles_regimen_pasaje.append(i)
len(automoviles_regimen_pasaje)

for i in automoviles_regimen_pasaje_Junio:
    automoviles_regimen_pasaje.append(i)
len(automoviles_regimen_pasaje)

for i in automoviles_regimen_pasaje_Julio:
    automoviles_regimen_pasaje.append(i)
len(automoviles_regimen_pasaje)

for i in automoviles_regimen_pasaje_Agosto:
    automoviles_regimen_pasaje.append(i)
len(automoviles_regimen_pasaje)

for i in automoviles_regimen_pasaje_Septiembre:
    automoviles_regimen_pasaje.append(i)
len(automoviles_regimen_pasaje)

for i in automoviles_regimen_pasaje_Octubre:
    automoviles_regimen_pasaje.append(i)
len(automoviles_regimen_pasaje)

for i in automoviles_regimen_pasaje_Noviembre:
    automoviles_regimen_pasaje.append(i)
len(automoviles_regimen_pasaje)

for i in automoviles_regimen_pasaje_Diciembre:
    automoviles_regimen_pasaje.append(i)
len(automoviles_regimen_pasaje)

336

In [131]:
df_listo['Automóviles En Régimen De Pasaje'] = automoviles_regimen_pasaje

## Automóviles En Régimen De Mercancía

In [132]:
automoviles_regimen_mercancia = df['Enero_2022 Automóviles En Régimen De Mercancía']

In [133]:
automoviles_regimen_mercancia_Febrero = df['Febrero_2022 Automóviles En Régimen De Mercancía']
automoviles_regimen_mercancia_Marzo = df['Marzo_2022 Automóviles En Régimen De Mercancía']
automoviles_regimen_mercancia_Abril = df['Abril_2022 Automóviles En Régimen De Mercancía']
automoviles_regimen_mercancia_Mayo = df['Mayo_2022 Automóviles En Régimen De Mercancía']
automoviles_regimen_mercancia_Junio = df['Junio_2022 Automóviles En Régimen De Mercancía']
automoviles_regimen_mercancia_Julio = df['Julio_2022 Automóviles En Régimen De Mercancía']
automoviles_regimen_mercancia_Agosto = df['Agosto_2022 Automóviles En Régimen De Mercancía']
automoviles_regimen_mercancia_Septiembre = df['Septiembre_2022 Automóviles En Régimen De Mercancía']
automoviles_regimen_mercancia_Octubre = df['Octubre_2022 Automóviles En Régimen De Mercancía']
automoviles_regimen_mercancia_Noviembre = df['Noviembre_2022 Automóviles En Régimen De Mercancía']
automoviles_regimen_mercancia_Diciembre = df['Diciembre_2022 Automóviles En Régimen De Mercancía']

In [134]:
automoviles_regimen_mercancia = automoviles_regimen_mercancia.tolist()
automoviles_regimen_mercancia_Febrero = automoviles_regimen_mercancia_Febrero.tolist()
automoviles_regimen_mercancia_Marzo = automoviles_regimen_mercancia_Marzo.tolist()
automoviles_regimen_mercancia_Abril = automoviles_regimen_mercancia_Abril.tolist()
automoviles_regimen_mercancia_Mayo = automoviles_regimen_mercancia_Mayo.tolist()
automoviles_regimen_mercancia_Junio = automoviles_regimen_mercancia_Junio.tolist()
automoviles_regimen_mercancia_Julio = automoviles_regimen_mercancia_Julio.tolist()
automoviles_regimen_mercancia_Agosto = automoviles_regimen_mercancia_Agosto.tolist()
automoviles_regimen_mercancia_Septiembre = automoviles_regimen_mercancia_Septiembre.tolist()
automoviles_regimen_mercancia_Octubre = automoviles_regimen_mercancia_Octubre.tolist()
automoviles_regimen_mercancia_Noviembre = automoviles_regimen_mercancia_Noviembre.tolist()
automoviles_regimen_mercancia_Diciembre = automoviles_regimen_mercancia_Diciembre.tolist()

In [135]:
for i in automoviles_regimen_mercancia_Febrero:
    automoviles_regimen_mercancia.append(i)
len(automoviles_regimen_mercancia)

for i in automoviles_regimen_mercancia_Marzo:
    automoviles_regimen_mercancia.append(i)
len(automoviles_regimen_mercancia)

for i in automoviles_regimen_mercancia_Abril:
    automoviles_regimen_mercancia.append(i)
len(automoviles_regimen_mercancia)

for i in automoviles_regimen_mercancia_Mayo:
    automoviles_regimen_mercancia.append(i)
len(automoviles_regimen_mercancia)

for i in automoviles_regimen_mercancia_Junio:
    automoviles_regimen_mercancia.append(i)
len(automoviles_regimen_mercancia)

for i in automoviles_regimen_mercancia_Julio:
    automoviles_regimen_mercancia.append(i)
len(automoviles_regimen_mercancia)

for i in automoviles_regimen_mercancia_Agosto:
    automoviles_regimen_mercancia.append(i)
len(automoviles_regimen_mercancia)

for i in automoviles_regimen_mercancia_Septiembre:
    automoviles_regimen_mercancia.append(i)
len(automoviles_regimen_mercancia)

for i in automoviles_regimen_mercancia_Octubre:
    automoviles_regimen_mercancia.append(i)
len(automoviles_regimen_mercancia)

for i in automoviles_regimen_mercancia_Noviembre:
    automoviles_regimen_mercancia.append(i)
len(automoviles_regimen_mercancia)

for i in automoviles_regimen_mercancia_Diciembre:
    automoviles_regimen_mercancia.append(i)
len(automoviles_regimen_mercancia)

336

In [136]:
df_listo['Automóviles En Régimen De Mercancía'] = automoviles_regimen_mercancia

In [137]:
df_listo.head()

,Meses,Autoridad_Portuaria,Graneles Líquidos t,Graneles Sólidos t,Mercancía General t,Mercancia General Contenedores t,Pesca t,Avituallamiento t,Avituallamiento De Combustibles Líquidos t,Tráfico Interior t,Mercancías En Tránsito t,Mercancías En Tránsito En Contenedores t,Tráfico Ro-Ro t,UTIS Ro-Ro,TEUS Contenedores,TEUS Contenedores En Tránsito,TEUS Contenedores Entrada-Salida Nacional,TEUS Contenedores Entrada-Salida Exterior,Unidades Buques Mercantes,G.T. Buques Mercantes,Unidades Buques De Crucero,Pasajeros En Régimen De Transporte Y De Crucero,Pasajeros En Régimen De Transporte,Pasajeros De Crucero,Automóviles En Régimen De Pasaje,Automóviles En Régimen De Mercancía
0,Enero_2022,A Coruña,623294,464559,79616,0,1403.861,2998,2209,0,92330,0,0,0,0.0,0.0,0.00,0.00,89,1616714,5,4722,0,4722,0,0
1,Enero_2022,Alicante,0,119575,104040,97163,0.000,1484,129,0,4663,4663,59,0,14934.0,400.5,11548.25,2985.25,43,622310,1,11874,9394,2480,2147,110
2,Enero_2022,Almería,7512,266992,134447,35899,208.561,4601,2290,0,141,141,71601,3000,2129.5,8.0,316.75,1804.75,115,1716296,0,13819,13819,0,3411,155
3,Enero_2022,Avilés,74703,189219,97892,0,627.525,4251,1596,0,3025,0,0,0,0.0,0.0,0.00,0.00,65,456463,0,0,0,0,0,0
4,Enero_2022,Bahía de Algeciras,2268541,207212,6062831,4742267,23.820,286828,274068,260600,5304368,4253234,1304479,41255,396644.0,341856.0,72.00,54716.00,1738,32968898,0,112032,112032,0,17020,278

In [138]:
df_listo.shape

(336, 26)

In [139]:
# Guardar una copia en csv
df_listo.to_csv('carga_2022/data_cargo_2022.csv', encoding='utf-8', sep=';')

In [140]:
import openpyxl
df_listo.to_excel('carga_2022/data_cargo_2022.xlsx')