In [1]:
# Import Packages
import pandas as pd
import numpy as np
import seaborn as sns
import os 
import openpyxl

## Enero 2023

In [2]:
ruta = os.path.join('carga_2023/data_cargo.xlsx')
df = pd.read_excel(ruta)
display(df.head(10))

,Unnamed: 0,Meses,Autoridad_Portuaria,Graneles Líquidos t,Graneles Sólidos t,Mercancía General t,Mercancia General Contenedores t,Pesca t,Avituallamiento t,Avituallamiento De Combustibles Líquidos t,...,TEUS Contenedores Entrada-Salida Nacional,TEUS Contenedores Entrada-Salida Exterior,Unidades Buques Mercantes,G.T. Buques Mercantes,Unidades Buques De Crucero,Pasajeros En Régimen De Transporte Y De Crucero,Pasajeros En Régimen De Transporte,Pasajeros De Crucero,Automóviles En Régimen De Pasaje,Automóviles En Régimen De Mercancía
0,0,Enero,A Coruña,676655,521447,40997,66,1202.998,2027,1488,...,0.00,6.00,81,1458841,4,6584,0,6584,0,0
1,1,Enero,Alicante,5453,191759,96204,89345,0.000,1864,183,...,11790.50,2353.75,58,977692,4,20175,9362,10813,2517,78
2,2,Enero,Almería,4538,299084,74717,11672,186.172,5193,2983,...,746.00,546.50,113,1897768,0,35434,35434,0,9707,170
3,3,Enero,Avilés,55417,266336,91717,0,481.460,4439,1841,...,0.00,0.00,64,489495,0,0,0,0,0,0
4,4,Enero,Bahía de Algeciras,2380167,31659,5747403,4544493,85.450,289720,274832,...,0.00,65161.00,2338,42389099,0,315529,315529,0,66691,235
5,5,Enero,Bahía de Cádiz,163563,137032,166825,115728,839.738,9651,968,...,12771.75,1484.00,142,2649740,13,33613,1751,31862,1078,1314
6,6,Enero,Baleares,71491,43279,884058,21952,60.770,2766,138,...,6124.00,2.00,2553,17315621,16,286458,229888,56570,53451,5525
7,7,Enero,Barcelona,999877,414210,3571011,2789630,44.076,118021,103451,...,14306.50,140497.50,644,24547383,26,163275,70262,93013,21954,47534
8,8,Enero,Bilbao,1503473,334672,595059,407988,0.000,9409,4986,...,4155.25,36258.00,195,3554616,0,2776,2776,0,1088,1530
9,9,Enero,Cartagena,2335996,870622,81870,42249,0.000,9028,400,...,624.00,2385.75,154,3738345,5,7108,0,7108,0,11

In [3]:
df.loc[df['Meses'] == ('Enero'), 'Meses'] = 'Enero_2023'

In [4]:
df.loc[df['Meses'] == ('Febrero'), 'Meses'] = 'Febrero_2023'
df.loc[df['Meses'] == ('Marzo'), 'Meses'] = 'Marzo_2023'
df.loc[df['Meses'] == ('Abril'), 'Meses'] = 'Abril_2023'
df.loc[df['Meses'] == ('Mayo'), 'Meses'] = 'Mayo_2023'
df.loc[df['Meses'] == ('Junio'), 'Meses'] = 'Junio_2023'
df.loc[df['Meses'] == ('Julio'), 'Meses'] = 'Julio_2023'
df.loc[df['Meses'] == ('Agosto'), 'Meses'] = 'Agosto_2023'
df.loc[df['Meses'] == ('Septiembre'), 'Meses'] = 'Septiembre_2023'
df.loc[df['Meses'] == ('Octubre'), 'Meses'] = 'Octubre_2023'
df.loc[df['Meses'] == ('Noviembre'), 'Meses'] = 'Noviembre_2023'
df.loc[df['Meses'] == ('Diciembre'), 'Meses'] = 'Diciembre_2023'

In [5]:
df

,Unnamed: 0,Meses,Autoridad_Portuaria,Graneles Líquidos t,Graneles Sólidos t,Mercancía General t,Mercancia General Contenedores t,Pesca t,Avituallamiento t,Avituallamiento De Combustibles Líquidos t,...,TEUS Contenedores Entrada-Salida Nacional,TEUS Contenedores Entrada-Salida Exterior,Unidades Buques Mercantes,G.T. Buques Mercantes,Unidades Buques De Crucero,Pasajeros En Régimen De Transporte Y De Crucero,Pasajeros En Régimen De Transporte,Pasajeros De Crucero,Automóviles En Régimen De Pasaje,Automóviles En Régimen De Mercancía
0,0,Enero_2023,A Coruña,676655,521447,40997,66,1202.998,2027,1488,...,0.00,6.00,81,1458841,4,6584,0,6584,0,0
1,1,Enero_2023,Alicante,5453,191759,96204,89345,0.000,1864,183,...,11790.50,2353.75,58,977692,4,20175,9362,10813,2517,78
2,2,Enero_2023,Almería,4538,299084,74717,11672,186.172,5193,2983,...,746.00,546.50,113,1897768,0,35434,35434,0,9707,170
3,3,Enero_2023,Avilés,55417,266336,91717,0,481.460,4439,1841,...,0.00,0.00,64,489495,0,0,0,0,0,0
4,4,Enero_2023,Bahía de Algeciras,2380167,31659,5747403,4544493,85.450,289720,274832,...,0.00,65161.00,2338,42389099,0,315529,315529,0,66691,235
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
331,331,Diciembre_2023,Sevilla,38190,180907,136358,86224,0.000,2949,1442,...,12443.75,42.00,76,442659,3,742,0,742,0,334
332,332,Diciembre_2023,Tarragona,1615477,570518,138303,16610,56.742,9013,5076,...,0.00,1765.00,193,3519027,0,0,0,0,0,18156
333,333,Diciembre_2023,Valencia,242576,160371,5761749,4663904,0.000,0,0,...,18662.00,185385.00,635,24912799,9,78606,55144,23462,17054,52373
334,334,Diciembre_2023,Vigo,2000,32011,347667,232726,2271.956,5187,700,...,2141.00,19967.00,162,3666019,4,8227,0,8227,0,58571
335,335,Diciembre_2023,Vilagarcía,30994,84069,44142,23800,0.000,537,208,...,2179.50,400.50,28,249234,0,0,0,0,0,8

In [6]:
df.shape

(336, 27)

In [7]:
df[df['Autoridad_Portuaria']== 'A Coruña']

,Unnamed: 0,Meses,Autoridad_Portuaria,Graneles Líquidos t,Graneles Sólidos t,Mercancía General t,Mercancia General Contenedores t,Pesca t,Avituallamiento t,Avituallamiento De Combustibles Líquidos t,...,TEUS Contenedores Entrada-Salida Nacional,TEUS Contenedores Entrada-Salida Exterior,Unidades Buques Mercantes,G.T. Buques Mercantes,Unidades Buques De Crucero,Pasajeros En Régimen De Transporte Y De Crucero,Pasajeros En Régimen De Transporte,Pasajeros De Crucero,Automóviles En Régimen De Pasaje,Automóviles En Régimen De Mercancía
0,0,Enero_2023,A Coruña,676655,521447,40997,66,1202.998,2027,1488,...,0.0,6.0,81,1458841,4,6584,0,6584,0,0
28,28,Febrero_2023,A Coruña,895370,546233,57323,0,1385.374,3713,2599,...,0.0,0.0,96,1545849,0,0,0,0,0,0
56,56,Marzo_2023,A Coruña,591403,544458,80350,0,2442.947,7792,3394,...,0.0,0.0,86,1659967,4,10565,0,10565,0,0
84,84,Abril_2023,A Coruña,548746,482784,56369,43,2122.334,3001,2239,...,0.0,3.0,103,2292395,14,27030,0,27030,0,0
112,112,Mayo_2023,A Coruña,513336,525673,57016,0,2264.733,3683,2907,...,0.0,0.0,100,2836963,19,40941,0,40941,0,0
140,140,Junio_2023,A Coruña,390658,334290,32487,0,3670.051,8509,2736,...,0.0,0.0,76,2365832,14,39963,0,39963,0,0
168,168,Julio_2023,A Coruña,676443,365304,43383,0,4313.090,4178,3148,...,0.0,0.0,87,1996778,8,26281,0,26281,0,0
196,196,Agosto_2023,A Coruña,577978,439230,38729,0,2897.502,3466,2512,...,0.0,0.0,92,3011004,16,49921,0,49921,0,0
224,224,Septiembre_2023,A Coruña,846332,485849,57911,0,2266.031,8921,1876,...,0.0,0.0,108,3733462,22,53353,0,53353,0,0
252,252,Octubre_2023,A Coruña,624978,354601,60604,65,1907.122,3631,2435,...,0.0,5.0,106,3539235,20,51916,0,51916,0,0
280,280,Noviembre_2023,A Coruña,941675,223249,18567,0,1638.532,2943,2191,...,0.0,0.0,87,1782232,6,13513,0,13513,0,0
308,308,Diciembre_2023,A Coruña,794732,360235,78431,0,1119.234,23583,2061,...,0.0,0.0,71,1541848,4,3924,0,3924,0,0

In [8]:
df[df['Meses'] == 'Mayo_2023']

,Unnamed: 0,Meses,Autoridad_Portuaria,Graneles Líquidos t,Graneles Sólidos t,Mercancía General t,Mercancia General Contenedores t,Pesca t,Avituallamiento t,Avituallamiento De Combustibles Líquidos t,...,TEUS Contenedores Entrada-Salida Nacional,TEUS Contenedores Entrada-Salida Exterior,Unidades Buques Mercantes,G.T. Buques Mercantes,Unidades Buques De Crucero,Pasajeros En Régimen De Transporte Y De Crucero,Pasajeros En Régimen De Transporte,Pasajeros De Crucero,Automóviles En Régimen De Pasaje,Automóviles En Régimen De Mercancía
112,112,Mayo_2023,A Coruña,513336,525673,57016,0,2264.733,3683,2907,...,0.00,0.00,100,2836963,19,40941,0,40941,0,0
113,113,Mayo_2023,Alicante,4012,128304,96773,88036,0.000,2586,109,...,12284.75,1496.25,64,1344115,12,28730,9810,18920,2703,111
114,114,Mayo_2023,Almería,0,256630,137426,17740,366.687,7076,3860,...,293.00,821.00,135,2285247,1,30908,30804,104,9726,257
115,115,Mayo_2023,Avilés,53259,279561,89738,0,672.062,4421,1151,...,0.00,0.00,77,594362,0,0,0,0,0,0
116,116,Mayo_2023,Bahía de Algeciras,2001487,45574,6280361,4890511,62.445,314701,298883,...,4.00,71082.00,2431,45261681,0,313584,313584,0,60695,294
117,117,Mayo_2023,Bahía de Cádiz,26516,223792,196731,139754,1248.473,18457,2708,...,13678.75,3203.00,147,4012680,37,62165,2325,59840,1447,2123
118,118,Mayo_2023,Baleares,204976,47427,1396260,35455,130.514,15652,190,...,9186.00,2.00,5022,29651277,111,936585,627425,309160,100951,13779
119,119,Mayo_2023,Barcelona,1184355,481826,4167091,3072908,233.404,155767,126799,...,19185.50,158259.00,793,36662340,116,551681,115112,436569,31727,71083
120,120,Mayo_2023,Bilbao,1738297,376555,790460,490435,0.000,12581,6668,...,2903.50,43865.75,264,5645766,19,34805,12306,22499,6439,20216
121,121,Mayo_2023,Cartagena,1961235,484774,77701,56430,0.000,15797,1083,...,502.00,3262.00,172,3795597,19,19050,1885,17165,0,0
122,122,Mayo_2023,Castellón,785023,663026,108813,106356,254.238,3147,0,...,497.00,6767.00,121,1733008,0,0,0,0,0,43
123,123,Mayo_2023,Ceuta,5149,500,49246,6108,0.000,65538,63995,...,516.00,0.00,832,6130827,1,136212,133784,2428,31546,89
124,124,Mayo_2023,Ferrol-San Cibrao,264099,294206,84878,27822,26.070,679,437,...,522.75,1571.00,89,1372104,3,865,0,865,0,0
125,125,Mayo_2023,Gijón,7816,1472164,121246,73267,1261.347,0,0,...,382.00,4693.00,100,1785542,7,4130,0,4130,0,0
126,126,Mayo_2023,Huelva,2318535,353941,103620,42969,19.252,18665,15014,...,5327.25,692.00,181,3874264,4,5247,4704,543,2974,2104
127,127,Mayo_2023,Las Palmas,605260,36644,1563260,1158175,89.255,216210,193700,...,42927.00,6185.00,1003,19602931,19,142548,124320,18228,54566,25735
128,128,Mayo_2023,Málaga,5706,81612,86719,27838,17.895,9273,3125,...,791.25,2055.00,168,6079227,44,82844,16287,66557,3573,5363
129,129,Mayo_2023,Marín y Ría de Pontevedra,0,37180,103517,54874,218.123,3503,1503,...,146.00,4428.00,46,266471,0,0,0,0,0,0
130,130,Mayo_2023,Melilla,4667,5013,40110,4477,0.000,17,0,...,608.00,7.00,103,2913504,3,26886,25585,1301,5961,192
131,131,Mayo_2023,Motril,104830,93708,56042,365,72.944,2411,1660,...,0.00,60.00,85,1489190,2,9853,5462,4391,1552,8
132,132,Mayo_2023,Pasaia,0,119979,235774,0,1869.976,2267,717,...,0.00,0.00,89,789142,2,249,0,249,0,29574
133,133,Mayo_2023,Santa Cruz de Tenerife,260770,16148,652128,306559,370.593,43008,41842,...,31155.00,3359.00,1326,14000403,10,433899,424990,8909,142057,7905
134,134,Mayo_2023,Santander,24971,338610,266635,48767,328.103,4468,2630,...,1436.50,3278.00,151,3073834,3,26942,23229,3713,11969,48365
135,135,Mayo_2023,Sevilla,61179,152907,137948,86797,0.000,2871,1001,...,12158.50,107.00,84,462623,9,2428,0,2428,0,707
136,136,Mayo_2023,Tarragona,1668950,615372,164211,28598,130.257,13184,4610,...,826.25,2416.00,203,4387676,10,17062,0,17062,0,24453
137,137,Mayo_2023,Valencia,410805,256861,6569611,5116458,81.499,34781,30212,...,17261.00,203440.00,576,24249595,39,157163,53497,103666,13754,50706
138,138,Mayo_2023,Vigo,6000,36533,416326,242622,2814.600,7199,1,...,991.00,17551.00,185,4213924,13,17751,0,17751,0,62234
139,139,Mayo_2023,Vilagarcía,41647,23008,53774,17482,0.000,410,222,...,2030.25,101.25,32,241949,1,52,0,52,0,1

## 2022

In [9]:
ruta_2022 = os.path.join('carga_2022/data_cargo_2022.xlsx')
df_2022 = pd.read_excel(ruta_2022)
display(df_2022.head(10))

,Unnamed: 0,Meses,Autoridad_Portuaria,Graneles Líquidos t,Graneles Sólidos t,Mercancía General t,Mercancia General Contenedores t,Pesca t,Avituallamiento t,Avituallamiento De Combustibles Líquidos t,...,TEUS Contenedores Entrada-Salida Nacional,TEUS Contenedores Entrada-Salida Exterior,Unidades Buques Mercantes,G.T. Buques Mercantes,Unidades Buques De Crucero,Pasajeros En Régimen De Transporte Y De Crucero,Pasajeros En Régimen De Transporte,Pasajeros De Crucero,Automóviles En Régimen De Pasaje,Automóviles En Régimen De Mercancía
0,0,Enero_2022,A Coruña,623294,464559,79616,0,1403.861,2998,2209,...,0.00,0.00,89,1616714,5,4722,0,4722,0,0
1,1,Enero_2022,Alicante,0,119575,104040,97163,0.000,1484,129,...,11548.25,2985.25,43,622310,1,11874,9394,2480,2147,110
2,2,Enero_2022,Almería,7512,266992,134447,35899,208.561,4601,2290,...,316.75,1804.75,115,1716296,0,13819,13819,0,3411,155
3,3,Enero_2022,Avilés,74703,189219,97892,0,627.525,4251,1596,...,0.00,0.00,65,456463,0,0,0,0,0,0
4,4,Enero_2022,Bahía de Algeciras,2268541,207212,6062831,4742267,23.820,286828,274068,...,72.00,54716.00,1738,32968898,0,112032,112032,0,17020,278
5,5,Enero_2022,Bahía de Cádiz,80953,186763,206041,157740,825.339,12845,3736,...,12552.50,3132.50,161,2331814,11,12826,1568,11258,734,1181
6,6,Enero_2022,Baleares,89870,25887,824339,25202,93.708,6252,127,...,6832.00,0.00,2744,16859106,15,224624,203207,21417,45174,3125
7,7,Enero_2022,Barcelona,1507323,252729,3811267,3015822,265.990,140339,126691,...,14086.75,150078.50,637,22848917,26,78059,50352,27707,14805,20402
8,8,Enero_2022,Bilbao,1522047,311203,645821,418899,0.000,8942,4740,...,3452.00,36495.75,197,3524598,0,1669,1669,0,551,1350
9,9,Enero_2022,Cartagena,2393757,707086,85628,56397,31.018,22319,2024,...,1438.00,3197.50,185,4136627,9,6559,0,6559,0,6

In [10]:
df_2022_2023 = pd.concat([df_2022, df], axis=0)

In [11]:
df_2022_2023

,Unnamed: 0,Meses,Autoridad_Portuaria,Graneles Líquidos t,Graneles Sólidos t,Mercancía General t,Mercancia General Contenedores t,Pesca t,Avituallamiento t,Avituallamiento De Combustibles Líquidos t,...,TEUS Contenedores Entrada-Salida Nacional,TEUS Contenedores Entrada-Salida Exterior,Unidades Buques Mercantes,G.T. Buques Mercantes,Unidades Buques De Crucero,Pasajeros En Régimen De Transporte Y De Crucero,Pasajeros En Régimen De Transporte,Pasajeros De Crucero,Automóviles En Régimen De Pasaje,Automóviles En Régimen De Mercancía
0,0,Enero_2022,A Coruña,623294,464559,79616,0,1403.861,2998,2209,...,0.00,0.00,89,1616714,5,4722,0,4722,0,0
1,1,Enero_2022,Alicante,0,119575,104040,97163,0.000,1484,129,...,11548.25,2985.25,43,622310,1,11874,9394,2480,2147,110
2,2,Enero_2022,Almería,7512,266992,134447,35899,208.561,4601,2290,...,316.75,1804.75,115,1716296,0,13819,13819,0,3411,155
3,3,Enero_2022,Avilés,74703,189219,97892,0,627.525,4251,1596,...,0.00,0.00,65,456463,0,0,0,0,0,0
4,4,Enero_2022,Bahía de Algeciras,2268541,207212,6062831,4742267,23.820,286828,274068,...,72.00,54716.00,1738,32968898,0,112032,112032,0,17020,278
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
331,331,Diciembre_2023,Sevilla,38190,180907,136358,86224,0.000,2949,1442,...,12443.75,42.00,76,442659,3,742,0,742,0,334
332,332,Diciembre_2023,Tarragona,1615477,570518,138303,16610,56.742,9013,5076,...,0.00,1765.00,193,3519027,0,0,0,0,0,18156
333,333,Diciembre_2023,Valencia,242576,160371,5761749,4663904,0.000,0,0,...,18662.00,185385.00,635,24912799,9,78606,55144,23462,17054,52373
334,334,Diciembre_2023,Vigo,2000,32011,347667,232726,2271.956,5187,700,...,2141.00,19967.00,162,3666019,4,8227,0,8227,0,58571
335,335,Diciembre_2023,Vilagarcía,30994,84069,44142,23800,0.000,537,208,...,2179.50,400.50,28,249234,0,0,0,0,0,8

## 2024

In [12]:
ruta_2024 = os.path.join('carga_2024/data_cargo_2024.xlsx')
df_2024 = pd.read_excel(ruta_2024)
display(df_2024.head(10))

,Unnamed: 0,Meses,Autoridad_Portuaria,Graneles Líquidos t,Graneles Sólidos t,Mercancía General t,Mercancia General Contenedores t,Pesca t,Avituallamiento t,Avituallamiento De Combustibles Líquidos t,...,TEUS Contenedores Entrada-Salida Nacional,TEUS Contenedores Entrada-Salida Exterior,Unidades Buques Mercantes,G.T. Buques Mercantes,Unidades Buques De Crucero,Pasajeros En Régimen De Transporte Y De Crucero,Pasajeros En Régimen De Transporte,Pasajeros De Crucero,Automóviles En Régimen De Pasaje,Automóviles En Régimen De Mercancía
0,0,Enero_2024,A Coruña,719906,406133,29789,0,1148.912,2903,2245,...,0.00,0.00,81,1556239,4,9704,0,9704,0,0
1,1,Enero_2024,Alicante,9007,109123,86149,77281,0.000,881,55,...,8703.50,1913.25,54,548180,4,8151,5990,2161,1580,51
2,2,Enero_2024,Almería,18511,256126,109347,15607,228.505,6088,2622,...,457.75,659.00,134,2131887,0,40825,40825,0,11445,239
3,3,Enero_2024,Avilés,61421,234074,84260,0,446.146,2950,1050,...,0.00,0.00,56,402073,0,0,0,0,0,0
4,4,Enero_2024,Bahía de Algeciras,2793935,42904,5498543,4436836,87.537,347997,330817,...,0.00,57235.00,2510,48344664,0,362082,362082,0,81135,327
5,5,Enero_2024,Bahía de Cádiz,18934,206223,173076,119797,716.423,7914,1949,...,12192.75,2490.00,135,2451804,13,33168,1817,31351,1102,1224
6,6,Enero_2024,Baleares,102646,22156,982074,21043,79.737,6597,155,...,6047.00,0.00,3052,17177306,16,300476,244370,56106,54605,7841
7,7,Enero_2024,Barcelona,766073,324206,3843295,3011767,150.208,112974,100189,...,69397.25,83778.50,642,25184951,26,179890,68854,111036,22448,49721
8,8,Enero_2024,Bilbao,2134486,280264,569573,400193,0.000,9333,4853,...,1259.50,35259.75,197,4149021,0,13,13,0,0,2377
9,9,Enero_2024,Cartagena,2137657,878956,57119,39115,25.364,12108,791,...,586.00,2205.00,158,2985661,5,0,0,0,0,0

In [13]:
df_2024.shape

(112, 27)

In [14]:
df_anyos = pd.concat([df_2022_2023, df_2024], axis=0)

In [15]:
df_anyos

,Unnamed: 0,Meses,Autoridad_Portuaria,Graneles Líquidos t,Graneles Sólidos t,Mercancía General t,Mercancia General Contenedores t,Pesca t,Avituallamiento t,Avituallamiento De Combustibles Líquidos t,...,TEUS Contenedores Entrada-Salida Nacional,TEUS Contenedores Entrada-Salida Exterior,Unidades Buques Mercantes,G.T. Buques Mercantes,Unidades Buques De Crucero,Pasajeros En Régimen De Transporte Y De Crucero,Pasajeros En Régimen De Transporte,Pasajeros De Crucero,Automóviles En Régimen De Pasaje,Automóviles En Régimen De Mercancía
0,0,Enero_2022,A Coruña,623294,464559,79616,0,1403.861,2998,2209,...,0.00,0.00,89,1616714,5,4722,0,4722,0,0
1,1,Enero_2022,Alicante,0,119575,104040,97163,0.000,1484,129,...,11548.25,2985.25,43,622310,1,11874,9394,2480,2147,110
2,2,Enero_2022,Almería,7512,266992,134447,35899,208.561,4601,2290,...,316.75,1804.75,115,1716296,0,13819,13819,0,3411,155
3,3,Enero_2022,Avilés,74703,189219,97892,0,627.525,4251,1596,...,0.00,0.00,65,456463,0,0,0,0,0,0
4,4,Enero_2022,Bahía de Algeciras,2268541,207212,6062831,4742267,23.820,286828,274068,...,72.00,54716.00,1738,32968898,0,112032,112032,0,17020,278
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
107,107,Abril_2024,Sevilla,62737,159187,153247,90326,0.000,4105,1338,...,11784.50,320.00,93,595179,11,3155,0,3155,0,417
108,108,Abril_2024,Tarragona,1747029,531797,167157,11144,237.686,10794,4720,...,0.00,1039.00,194,3846320,10,11164,0,11164,0,17204
109,109,Abril_2024,Valencia,298325,171680,6471158,5005110,161.132,39503,33826,...,22457.00,213045.00,656,26574881,38,130599,65781,64818,16622,60482
110,110,Abril_2024,Vigo,3000,27501,446454,262676,2754.865,5371,0,...,986.00,23275.00,157,4005657,10,12564,0,12564,0,49842
111,111,Abril_2024,Vilagarcía,48921,41318,62787,27852,0.000,657,223,...,1971.50,1266.75,33,288563,0,0,0,0,0,171

In [16]:
df_anyos = df_anyos.rename(columns={'Unnamed: 0':'ID'})

In [17]:
df_anyos

,ID,Meses,Autoridad_Portuaria,Graneles Líquidos t,Graneles Sólidos t,Mercancía General t,Mercancia General Contenedores t,Pesca t,Avituallamiento t,Avituallamiento De Combustibles Líquidos t,...,TEUS Contenedores Entrada-Salida Nacional,TEUS Contenedores Entrada-Salida Exterior,Unidades Buques Mercantes,G.T. Buques Mercantes,Unidades Buques De Crucero,Pasajeros En Régimen De Transporte Y De Crucero,Pasajeros En Régimen De Transporte,Pasajeros De Crucero,Automóviles En Régimen De Pasaje,Automóviles En Régimen De Mercancía
0,0,Enero_2022,A Coruña,623294,464559,79616,0,1403.861,2998,2209,...,0.00,0.00,89,1616714,5,4722,0,4722,0,0
1,1,Enero_2022,Alicante,0,119575,104040,97163,0.000,1484,129,...,11548.25,2985.25,43,622310,1,11874,9394,2480,2147,110
2,2,Enero_2022,Almería,7512,266992,134447,35899,208.561,4601,2290,...,316.75,1804.75,115,1716296,0,13819,13819,0,3411,155
3,3,Enero_2022,Avilés,74703,189219,97892,0,627.525,4251,1596,...,0.00,0.00,65,456463,0,0,0,0,0,0
4,4,Enero_2022,Bahía de Algeciras,2268541,207212,6062831,4742267,23.820,286828,274068,...,72.00,54716.00,1738,32968898,0,112032,112032,0,17020,278
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
107,107,Abril_2024,Sevilla,62737,159187,153247,90326,0.000,4105,1338,...,11784.50,320.00,93,595179,11,3155,0,3155,0,417
108,108,Abril_2024,Tarragona,1747029,531797,167157,11144,237.686,10794,4720,...,0.00,1039.00,194,3846320,10,11164,0,11164,0,17204
109,109,Abril_2024,Valencia,298325,171680,6471158,5005110,161.132,39503,33826,...,22457.00,213045.00,656,26574881,38,130599,65781,64818,16622,60482
110,110,Abril_2024,Vigo,3000,27501,446454,262676,2754.865,5371,0,...,986.00,23275.00,157,4005657,10,12564,0,12564,0,49842
111,111,Abril_2024,Vilagarcía,48921,41318,62787,27852,0.000,657,223,...,1971.50,1266.75,33,288563,0,0,0,0,0,171

In [18]:
cond = df_anyos['Meses'].str.contains('2022', case=False)
df_anyos['Anios'] = np.where(cond, '2022', '2023')

In [19]:
df_anyos.loc[df_anyos['Meses'].str.contains('2024'), 'Anios'] = '2024'

In [20]:
df_anyos['Mes'] = '1'

In [21]:
df_anyos.loc[df_anyos['Meses'].str.contains('Febrero'), 'Mes'] = '2'
df_anyos.loc[df_anyos['Meses'].str.contains('Marzo'), 'Mes'] = '3'
df_anyos.loc[df_anyos['Meses'].str.contains('Abril'), 'Mes'] = '4'
df_anyos.loc[df_anyos['Meses'].str.contains('Mayo'), 'Mes'] = '5'
df_anyos.loc[df_anyos['Meses'].str.contains('Junio'), 'Mes'] = '6'
df_anyos.loc[df_anyos['Meses'].str.contains('Julio'), 'Mes'] = '7'
df_anyos.loc[df_anyos['Meses'].str.contains('Agosto'), 'Mes'] = '8'
df_anyos.loc[df_anyos['Meses'].str.contains('Septiembre'), 'Mes'] = '9'
df_anyos.loc[df_anyos['Meses'].str.contains('Octubre'), 'Mes'] = '10'
df_anyos.loc[df_anyos['Meses'].str.contains('Noviembre'), 'Mes'] = '11'
df_anyos.loc[df_anyos['Meses'].str.contains('Diciembre'), 'Mes'] = '12'

In [22]:
df.dtypes

Unnamed: 0                                           int64
Meses                                               object
Autoridad_Portuaria                                 object
Graneles Líquidos t                                  int64
Graneles Sólidos t                                   int64
Mercancía General t                                  int64
Mercancia General Contenedores t                     int64
Pesca t                                            float64
Avituallamiento t                                    int64
Avituallamiento De Combustibles Líquidos t           int64
Tráfico Interior t                                   int64
Mercancías En Tránsito t                             int64
Mercancías En Tránsito En Contenedores t             int64
Tráfico Ro-Ro t                                      int64
UTIS Ro-Ro                                           int64
TEUS Contenedores                                  float64
TEUS Contenedores En Tránsito                      float64
TEUS Contenedores Entrada-Salida Nacional          float64
TEUS Contenedores Entrada-Salida Exterior          float64
Unidades Buques Mercantes                            int64
G.T. Buques Mercantes                                int64
Unidades Buques De Crucero                           int64
Pasajeros En Régimen De Transporte Y De Crucero      int64
Pasajeros En Régimen De Transporte                   int64
Pasajeros De Crucero                                 int64
Automóviles En Régimen De Pasaje                     int64
Automóviles En Régimen De Mercancía                  int64
dtype: object

In [23]:
df_anyos['fecha'] =''+'/'+ df_anyos['Mes']+'/'+df_anyos['Anios']

In [24]:
df_anyos

,ID,Meses,Autoridad_Portuaria,Graneles Líquidos t,Graneles Sólidos t,Mercancía General t,Mercancia General Contenedores t,Pesca t,Avituallamiento t,Avituallamiento De Combustibles Líquidos t,...,G.T. Buques Mercantes,Unidades Buques De Crucero,Pasajeros En Régimen De Transporte Y De Crucero,Pasajeros En Régimen De Transporte,Pasajeros De Crucero,Automóviles En Régimen De Pasaje,Automóviles En Régimen De Mercancía,Anios,Mes,fecha
0,0,Enero_2022,A Coruña,623294,464559,79616,0,1403.861,2998,2209,...,1616714,5,4722,0,4722,0,0,2022,1,/1/2022
1,1,Enero_2022,Alicante,0,119575,104040,97163,0.000,1484,129,...,622310,1,11874,9394,2480,2147,110,2022,1,/1/2022
2,2,Enero_2022,Almería,7512,266992,134447,35899,208.561,4601,2290,...,1716296,0,13819,13819,0,3411,155,2022,1,/1/2022
3,3,Enero_2022,Avilés,74703,189219,97892,0,627.525,4251,1596,...,456463,0,0,0,0,0,0,2022,1,/1/2022
4,4,Enero_2022,Bahía de Algeciras,2268541,207212,6062831,4742267,23.820,286828,274068,...,32968898,0,112032,112032,0,17020,278,2022,1,/1/2022
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
107,107,Abril_2024,Sevilla,62737,159187,153247,90326,0.000,4105,1338,...,595179,11,3155,0,3155,0,417,2024,4,/4/2024
108,108,Abril_2024,Tarragona,1747029,531797,167157,11144,237.686,10794,4720,...,3846320,10,11164,0,11164,0,17204,2024,4,/4/2024
109,109,Abril_2024,Valencia,298325,171680,6471158,5005110,161.132,39503,33826,...,26574881,38,130599,65781,64818,16622,60482,2024,4,/4/2024
110,110,Abril_2024,Vigo,3000,27501,446454,262676,2754.865,5371,0,...,4005657,10,12564,0,12564,0,49842,2024,4,/4/2024
111,111,Abril_2024,Vilagarcía,48921,41318,62787,27852,0.000,657,223,...,288563,0,0,0,0,0,171,2024,4,/4/2024

In [26]:
df_anyos.dtypes

ID                                                   int64
Meses                                               object
Autoridad_Portuaria                                 object
Graneles Líquidos t                                  int64
Graneles Sólidos t                                   int64
Mercancía General t                                  int64
Mercancia General Contenedores t                     int64
Pesca t                                            float64
Avituallamiento t                                    int64
Avituallamiento De Combustibles Líquidos t           int64
Tráfico Interior t                                   int64
Mercancías En Tránsito t                             int64
Mercancías En Tránsito En Contenedores t             int64
Tráfico Ro-Ro t                                      int64
UTIS Ro-Ro                                           int64
TEUS Contenedores                                  float64
TEUS Contenedores En Tránsito                      float64
TEUS Contenedores Entrada-Salida Nacional          float64
TEUS Contenedores Entrada-Salida Exterior          float64
Unidades Buques Mercantes                            int64
G.T. Buques Mercantes                                int64
Unidades Buques De Crucero                           int64
Pasajeros En Régimen De Transporte Y De Crucero      int64
Pasajeros En Régimen De Transporte                   int64
Pasajeros De Crucero                                 int64
Automóviles En Régimen De Pasaje                     int64
Automóviles En Régimen De Mercancía                  int64
Anios                                               object
Mes                                                 object
fecha                                               object
dtype: object

In [27]:
df_anyos['fecha'] = pd.to_datetime(df_anyos['fecha'])

C:\Users\Encarni\AppData\Local\Temp\ipykernel_12032\3116551568.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df_anyos['fecha'] = pd.to_datetime(df_anyos['fecha'])

In [28]:
df_anyos

,ID,Meses,Autoridad_Portuaria,Graneles Líquidos t,Graneles Sólidos t,Mercancía General t,Mercancia General Contenedores t,Pesca t,Avituallamiento t,Avituallamiento De Combustibles Líquidos t,...,G.T. Buques Mercantes,Unidades Buques De Crucero,Pasajeros En Régimen De Transporte Y De Crucero,Pasajeros En Régimen De Transporte,Pasajeros De Crucero,Automóviles En Régimen De Pasaje,Automóviles En Régimen De Mercancía,Anios,Mes,fecha
0,0,Enero_2022,A Coruña,623294,464559,79616,0,1403.861,2998,2209,...,1616714,5,4722,0,4722,0,0,2022,1,2022-01-01
1,1,Enero_2022,Alicante,0,119575,104040,97163,0.000,1484,129,...,622310,1,11874,9394,2480,2147,110,2022,1,2022-01-01
2,2,Enero_2022,Almería,7512,266992,134447,35899,208.561,4601,2290,...,1716296,0,13819,13819,0,3411,155,2022,1,2022-01-01
3,3,Enero_2022,Avilés,74703,189219,97892,0,627.525,4251,1596,...,456463,0,0,0,0,0,0,2022,1,2022-01-01
4,4,Enero_2022,Bahía de Algeciras,2268541,207212,6062831,4742267,23.820,286828,274068,...,32968898,0,112032,112032,0,17020,278,2022,1,2022-01-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
107,107,Abril_2024,Sevilla,62737,159187,153247,90326,0.000,4105,1338,...,595179,11,3155,0,3155,0,417,2024,4,2024-04-01
108,108,Abril_2024,Tarragona,1747029,531797,167157,11144,237.686,10794,4720,...,3846320,10,11164,0,11164,0,17204,2024,4,2024-04-01
109,109,Abril_2024,Valencia,298325,171680,6471158,5005110,161.132,39503,33826,...,26574881,38,130599,65781,64818,16622,60482,2024,4,2024-04-01
110,110,Abril_2024,Vigo,3000,27501,446454,262676,2754.865,5371,0,...,4005657,10,12564,0,12564,0,49842,2024,4,2024-04-01
111,111,Abril_2024,Vilagarcía,48921,41318,62787,27852,0.000,657,223,...,288563,0,0,0,0,0,171,2024,4,2024-04-01

In [29]:
# Se calcula el porcentaje de valores faltantes en cada característica.
# % of missing.
for col in df_anyos.columns:
    pct_missing = np.mean(df_anyos[col] == 0)
    print('{} - {}%'.format(col, round(pct_missing*100)))   # las llaves indican las posición de las variables.

ID - 0%
Meses - 0%
Autoridad_Portuaria - 0%
Graneles Líquidos t - 10%
Graneles Sólidos t - 4%
Mercancía General t - 0%
Mercancia General Contenedores t - 11%
Pesca t - 22%
Avituallamiento t - 4%
Avituallamiento De Combustibles Líquidos t - 12%
Tráfico Interior t - 86%
Mercancías En Tránsito t - 22%
Mercancías En Tránsito En Contenedores t - 43%
Tráfico Ro-Ro t - 21%
UTIS Ro-Ro - 28%
TEUS Contenedores - 11%
TEUS Contenedores En Tránsito - 43%
TEUS Contenedores Entrada-Salida Nacional - 18%
TEUS Contenedores Entrada-Salida Exterior - 14%
Unidades Buques Mercantes - 0%
G.T. Buques Mercantes - 0%
Unidades Buques De Crucero - 35%
Pasajeros En Régimen De Transporte Y De Crucero - 19%
Pasajeros En Régimen De Transporte - 40%
Pasajeros De Crucero - 35%
Automóviles En Régimen De Pasaje - 43%
Automóviles En Régimen De Mercancía - 15%
Anios - 0%
Mes - 0%
fecha - 0%

In [32]:
# Guardar una copia en csv
df_anyos.to_csv('archivo_final/trafico_logistico.csv', encoding='utf-8', sep=';')

In [33]:
import openpyxl
df_anyos.to_excel('archivo_final/trafico_logistico.xlsx')